{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "base.html.twig" %}

{% block title %}
    SiSToFa - Simulador de Sistemas Tolerantes a Fallos
{% endblock %}

{% block contenido %}
    {# Javascript para uso del certificado digital #}
    <script type="text/javascript" src="/SiSToFa/js/afirma/miniapplet.js"></script>
    <script type="text/javascript">
        MiniApplet.cargarAppAfirma("");
        MiniApplet.setForceWSMode(true);

        // Función que se ejecutará si la firma termina correctamente
        function saveSignatureFunction(signatureB64) {
            // Guardamos la firma en un campo de un formulario
            MiniApplet.
                    document.getElementById("certificado").value = MiniApplet.getTextFromBase64(signatureB64);
            // Mostramos un mensaje con el resultado de la operación
            $('.flash').removeClass('flash-error');//para que se muestre el recuadro con fondo azul
            document.getElementById("flash").innerHTML = "<p>La firma finalizó correctamente</p>";

            loginForm.submit();
        }

        function getCertificateFunction(signatureB64) {
            // Guardamos la firma en un campo de un formulario
            document.getElementById("certificado").value = signatureB64;

            // Mostramos un mensaje con el resultado de la operación
            /* $('.flash').removeClass('flash-error');//para que se muestre el recuadro con fondo azul
             document.getElementById("flash").innerHTML = "<p>Se ha procesado la firma</p>"; */

            //En lugar de mostrar el mensaje, mostramos la animación de carga (puesto que se va a hacer un submit que puede tardar varios segundos)
            $('.autofirma .boton').css('display', 'none');//ocultar el botón de autofirma
            iniciaLoading('.autofirma');//mostrar la animación de carga en su lugar

            loginForm.submit();
        }

        // Función que se ejecutará si el proceso de firma falla
        function showErrorFunction(type, message)
        {
            // Mostramos un mensaje con el resultado de la operación
            $('.flash').addClass('flash-error');//para que se muestre el recuadro con fondo rojo
            document.getElementById("flash").innerHTML = "<p>Error: " + message + "</p>";
        }

        function cargarCertificado()
        {
            // Llamamos a la operación de firma
            var signature;

            //var text = "Hola Mundo!!";
            //var dataB64 = MiniApplet.getBase64FromText(text, "default");

            try {
                // Para firmar.
                //signature = MiniApplet.sign(dataB64, "SHA1withRSA", "CAdES", null,saveSignatureFunction,showErrorFunction);
                signature = MiniApplet.selectCertificate("", getCertificateFunction, showErrorFunction);
            } catch (e) {
                // Mostramos un mensaje con el error obtenido
                var message = MiniApplet.getErrorMessage();
                $('.flash').addClass('flash-error');//para que se muestre el recuadro con fondo rojo
                document.getElementById("flash").innerHTML = "<p>Error: " + message + "</p>";
            }

        }
    </script>

    <div id="login">
        <h1>Acceso</h1>
        <form id="loginForm" method="post" action="{{ path( 'login' ) }}">
            <div class="flash flash-error" id="flash">
                {% if error %}
                    <p>{{error}}</p>
                {% endif %}
            </div>
            <div class="login">
                <label class="usuario">Usuario</label>
                <input type="text" placeholder="Usuario" name="username" id="username" value="" required="required" />
                <label class="password">Contraseña</label>
                <input type="password" placeholder="Contraseña" name="password" id="password" value="" required="required" />
                <input type="hidden" name="certificado" id="certificado" value="" />
            </div>
            <input type="hidden" name="_target_path" value="{{ path("inicio") }}" />
            <input id="botonLogin" type="submit" class="button orange" value="Acceder" title="Acceder" alt="Acceder" />
        </form>
        <div class="autofirma" id="autofirma">
            <div><span>O acceder con</span></div>
            <button onclick="cargarCertificado();" class="boton" title="Acceder con Autofirma">Autofirma</button>
        </div>

    </div>
    <div style="width: 80%; text-align: right;">
        <img src="{{ asset('img/agplv3-with-text-100x42.png') }}" /><br>
        <a class="enlacegitlab" target="_blank" 
           style="color: black;text-decoration: underline;"
           href="https://gitlab.com/antotogomez/SiSToFa">Código fuente</a>
    </div>  
{% endblock %}