{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "aplicacion/formulario_edicion.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        mxBasePath = '{{ asset('js/mxGraph') }}';
    </script>

    <script type="text/javascript" src="{{ asset('js/mxGraph/js/mxClient.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jstree.min.js') }}"></script>

    <script type="text/javascript">
        /**
         * Semaforo para impedir que se iluminen nodos en el grafico durante la
         * carga o cuando se ha seleccionado previamente otro nodo.
         */
        var nodoSeleccionable = true;
        
        var graph;
        // Program starts here. Creates a sample graph in the
        // DOM node with the specified ID. This function is invoked
        // from the onLoad event handler of the document (see below).
        function main(container)
        {
        // Checks if the browser is supported
        if (!mxClient.isBrowserSupported())
        {
        // Displays an error message if the browser is not supported.
        mxUtils.error('Browser is not supported!', 200, false);
        } else
        {
        // Disables the built-in context menu
        mxEvent.disableContextMenu(container);
        // Creates the graph inside the given container
        //document.getElementById('graphContainer')
        graph = new mxGraph(container);
        // Enables rubberband selection
        new mxRubberband(graph);
        // Gets the default parent for inserting new cells. This
        // is normally the first child of the root (ie. layer 0).
        var parent = graph.getDefaultParent();
        var layout = new mxHierarchicalLayout(graph, mxConstants.DIRECTION_WEST);
        // Adds cells to the model in a single step
        graph.getModel().beginUpdate();
        try
        {
        //Añade los componentes del sistema
        {% for componente in sistema.componentes %}
            console.log('COMPONENTE: [{{ componente.id}}] {{ componente.nombre}}');
            graph.insertVertex(parent, '{{componente.id}}', '{{componente.nombre}}', 20, 20, 80, 30, 'rounded=0;strokeColor=black;fillColor={{componente.color}};fontColor={{componente.colortexto}}');
        {% endfor %}


            //Una vez añadidos los componentes, añade las conexiones entre ellos.
        {% for componente in sistema.componentes %}

            console.log('COMPONENTE: [{{ componente.id}}] {{componente.nombre}}');
            console.log('   ENTRADAS');
            {% for entrada in componente.entradas %}
                //Obtiene los Ids
                {% if entrada.salida != null %}
                    v2 = graph.getModel().getCell({{componente.id}});
                    entradaJ = graph.insertVertex(parent, 'E_{{entrada.id}}', '{{entrada.nombre}}', 20, 20, 50, 30, 'rounded=1;strokeColor=black;fillColor={{entrada.color}};fontColor={{entrada.colortexto}}');
                    var c1 = graph.insertEdge(parent, null, '', entradaJ, v2, 'strokeWidth=1;endArrow=none;endSize=2;endFill=1;strokeColor=black;rounded=1;');
                    //Busca la salida
                    console.log('       Salida [{{entrada.salida.id}}] {{entrada.salida.nombre}} --> Entrada [{{entrada.id}}]{{entrada.nombre}}  ');
                    salidaJ = graph.getModel().getCell('S_{{entrada.salida.id}}');
                    if (salidaJ != null){
                    console.log('       La salida ya exite {{entrada.salida.id}}');
                    }
                    else {
                    //Añade la salida al componente
                    console.log('       Añade la salida quena un no exite {{entrada.salida.id}}');
                    v1 = graph.getModel().getCell({{entrada.salida.componente.id}});
                    salidaJ = graph.insertVertex(parent, 'S_{{entrada.salida.id}}', '{{entrada.salida.nombre}}', 20, 20, 50, 30, 'rounded=1;strokeColor=black;fillColor={{entrada.salida.color}};fontColor={{entrada.salida.colortexto}}');
                    var c2 = graph.insertEdge(parent, null, '', v1, salidaJ, 'strokeWidth=1;endArrow=none;endSize=2;endFill=1;strokeColor=black;rounded=1;');
                    }

                    //Une la salida con la entrada
                    var e1 = graph.insertEdge(parent, null, '', salidaJ, entradaJ,
                            'dashed=1;startArrow=oval;endArrow=oval;sourcePerimeterSpacing=4;startFill=0;endFill=0;');
                {% else %}
                    console.log('       Entrada del sistema [{{entrada.id}}] {{entrada.nombre}}');
                    //Añade las entradas a los componentes que son entradas al sistema.
                    v1 = graph.insertVertex(parent, 'E_' + '{{entrada.id}}', '{{entrada.nombre}}', 20, 20, 50, 30, 'shape=ellipse;strokeColor=black;fillColor={{entrada.color}};fontColor={{entrada.colortexto}}');
                    v2 = graph.getModel().getCell('{{componente.id}}');
                    var e1 = graph.insertEdge(parent, null, '', v1, v2, 'strokeWidth=1;endArrow=none;endSize=2;endFill=1;strokeColor=black;rounded=1;');
                {% endif %}
            {% endfor %}

                console.log('   SALIDAS');
            {% for salida in componente.salidas %}
                {% if salida.entradas is empty %}
                    //Añade las salidas a los componentes que son salidas del sistema.
                    console.log('       Salidas del sistema [{{salida.id}}] {{salida.nombre}}');
                    v2 = graph.insertVertex(parent, 'S_{{salida.id}}', '{{salida.nombre}}', 20, 20, 50, 30, 'rounded=1;strokeColor=black;fillColor={{salida.color}};fontColor={{salida.colortexto}}');
                    v1 = graph.getModel().getCell('{{componente.id}}');
                    var e1 = graph.insertEdge(parent, null, '', v1, v2);
                {% else %}
                    console.log('       Salida [{{salida.id}}]{{salida.nombre}} ya esta conectada');
                {% endif %}
            {% endfor %}

        {% endfor %}

            //Añade las salidas de los componentes que son salidas del sistema.

            //Añade las relaciones entre componentes.

            // Installs context menu
            graph.popupMenuHandler.factoryMethod = function(menu, cell, evt)
            {
            console.log("popupMenuHandler. Id:" + cell.id);
            console.log("popupMenuHandler. Vertex:" + cell.vertex);
            console.log("popupMenuHandler. Id():" + cell.id.substring(0, 1));
            menu.addItem('Editar', null, function()
            {
            if (cell.id.substring(0, 1) == 'S'){
            seleccionaSalida(cell.id.replace('S_', ''), '');
            }
            else {
            if (cell.id.substring(0, 1) == 'E') {
            console.log('Entrada:' + cell.id.replace('E_', ''));
            seleccionaEntrada(cell.id.replace('E_', ''), '');
            }
            else {
            seleccionaComponente(cell.id);
            }
            }
            });
            if (cell.id.substring(0, 1) != 'S' && cell.id.substring(0, 1) != 'E')
            {
            menu.addItem('Poner en fallo.', null, function()
            {
                //Muestra el modal de poner en fallo estatico, mostrando tipo de fallo
                // el porcentje de fallo.
                console.log("componente con error:" + cell.id);
                $('#form_evento_idcomponente').val(cell.id); 
                $('#form_evento_tipofallo').css('display', 'block');
                $('#form_evento_tipofallo_label').css('display', 'block');
                window.$('#modal-estadoComponente').show();
                recargarTiposError();               
                $('#form_evento_estado').val(1); 
                    
            });
            
             menu.addItem('Quitar fallo.', null, function()
            {
               //Quita la situacion de fallo, pero tiene que obtener el color original
               // del componente.
                    
                    $('#form_evento_tipofallo').val(null);
                    $('#form_evento_tipofallo').css('display', 'none');
                    $('#form_evento_tipofallo_label').css('display', 'none');
                     $('#form_evento_idcomponente').val(cell.id);
                    window.$('#modal-estadoComponente').show();
                    recargarTiposError();               
                    $('#form_evento_estado').val(0); 
                    console.log(cell.id);
                    
            });
            
            }

            if (cell.id.substring(0, 1) == 'E')
            {
            menu.addSeparator();
            menu.addItem('Establecer valor', null, function()
            {
                $('#form_cambiarvalor_identrada').val(cell.id.substring(2));
                window.$('#modal-valorEntrada').show();
            });
            }

            if (cell.id.substring(0, 1) != 'S' && cell.id.substring(0, 1) != 'E')
            {
            menu.addSeparator();
            menu.addItem('Añadir entrada', null, function()
            {
            seleccionaEntrada('', cell.id);
            });
            menu.addItem('Añadir salida', null, function()
            {
            seleccionaSalida('', cell.id);
            });
            }

            };
            layout.execute(graph.getDefaultParent(), graph.getDefaultParent().children);
            } finally
            {
            // Updates the display

            graph.getModel().endUpdate();
            
            graph.fit();
            graph.view.rendering = true;
            graph.refresh();
            
            
            }
            }
            };
            $(document).ready(function () {

            main(document.getElementById('graphContainer'))
            cambiarEstadoComponente();

            });
    </script>

{% endblock %}

{% block edicion %}

    <link rel="stylesheet" href="{{ asset('js/themes/default/style.min.css') }}">

    <style>
        .grid-container {
            display: grid;
            grid-gap: 10px;
            grid-auto-flow: column;
            grid-auto-columns: 70% 30%;
        }

        #graphContainer {
            background:#DDD;
            border:#000;
            padding: 10px;
            position: relative;
            height:100%;
            overflow:scroll;
        }

        .arbolresultados {

        }

        .cabeceraresultados {
            overflow: hidden;
            background-color: #333;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            width: 100%;
        }

        .arbolresultados a { color: black;}

        .enmarcado {
            margin-top: 20px; 
            font-size: 18px; 
            padding: 20px 0px 20px 0px; 
            border: 2px solid; 
            width: 100%; 
            color: black; 
            text-align: center;
        }
        
        .aplicado {
            background-image:url({{ asset('img/tick-aplicado.png') }});
            background-repeat:no-repeat;
            background-size:20px 20px;
            background-position:center;
        }
    </style>
    {% include 'sistema/sistemas_modales.html.twig' %}    

    <div>
        <script type="text/javascript">

            var procesoSimulacion;
            
            function iniciaSimulacion() {

            procesoSimulacion= setInterval(nextStep, 5000); // Wait 5 seconds

            document.getElementById("estadoejecucion").innerHTML = "INICIADA";
            document.getElementById("estadosimulacion").classList.remove("stopped");
            document.getElementById("estadosimulacion").classList.remove("paused");
            document.getElementById("estadosimulacion").classList.add("running");
            
            }

            function pausaSimulacion() {

            clearInterval(procesoSimulacion);

            document.getElementById("estadoejecucion").innerHTML = "PAUSADA";
            document.getElementById("estadosimulacion").classList.remove("running");
            document.getElementById("estadosimulacion").classList.remove("stopped");
            document.getElementById("estadosimulacion").classList.add("paused");
            
            }
            
            function stopSimulacion() {

             clearInterval(procesoSimulacion); 

            document.getElementById("estadoejecucion").innerHTML = "PARADA";
            document.getElementById("estadosimulacion").classList.remove("running");
            document.getElementById("estadosimulacion").classList.add("stopped");
            document.getElementById("estadosimulacion").classList.remove("paused");
            
            }
            
            function restartSimulacion() {

            clearInterval(procesoSimulacion); 

            document.getElementById("estadoejecucion").innerHTML = "PARADA";
            document.getElementById("estadosimulacion").classList.remove("running");
            document.getElementById("estadosimulacion").classList.add("stopped");
            document.getElementById("estadosimulacion").classList.remove("paused");
            
            document.getElementById('form_ejecucion_id').value = "";
            document.getElementById('form_ejecucion_paso').value = "";
                    
            
            }
            function navegarResultados() {

            console.log('{{ path('ver_resultados', {'id': ''}) }}/' + document.getElementById('form_ejecucion_id').value);
            window.location.href = '{{ path('ver_resultados', {'id': ''}) }}/' + document.getElementById('form_ejecucion_id').value;
            }

            function updateGrafico(sistema){
                
                console.log("Actualizando estado de " + sistema.componentes.length + " componentes.");
                
                for(var i=0; i< sistema.componentes.length;i++) {
                    console.log(sistema.componentes[i].fallado);
                    if( sistema.componentes[i].fallado == true) {
                            v1 = graph.getModel().getCell(sistema.componentes[i].id);
                        console.log("componente " + sistema.componentes[i].id + " en error se pone en rojo");
                        graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, 'red', [v1]);
                    }
                    else
                    {
                         v1 = graph.getModel().getCell(sistema.componentes[i].id);
                        console.log(v1);
                        graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, sistema.componentes[i].color, [v1]);
                    }
                
                }
            }
            
            
            function updateTreeSistema(sistema) {
                //Impide la iluminación de nodos durante la carga
                nodoSeleccionable=false;
                
            console.log(sistema);
               
            console.log("MI SISTEMA: " + sistema.idsistema);
            
            console.log("MI SISTEMA TIENE " + sistema.componentes.length + "COMPONENTES.");
            var treedata = [];
            
            var node = {"id": "C", "parent": "#", "text": "Componentes.", "state": {"opened": "true"}};
            treedata.push(node);
            
            for(var i=0; i< sistema.componentes.length;i++) {
                    node = { "id" : sistema.componentes[i].id , "parent": "C","text": sistema.componentes[i].nombre };
                    treedata.push(node);
                    node = {"id" : "ENTRADAS_" + sistema.componentes[i].id ,"text": "Entradas", "parent" : sistema.componentes[i].id ,"state": {"opened": "false"}};
                    treedata.push(node);
                    
                    for(var j=0; j< sistema.componentes[i].entradas.length;j++) {
                        entrada = sistema.componentes[i].entradas[j];
                        node = {"id" : "E_" + entrada.id ,"text": entrada.nombre + ': ' + entrada.valor, "parent" : "ENTRADAS_" + sistema.componentes[i].id ,"state": {"opened": "false"}};
                        treedata.push(node);
                    }
                        
                    node = {"id" : "SALIDAS_" + sistema.componentes[i].id ,"text": "Salidas", "parent" : sistema.componentes[i].id ,"state": {"opened": "true"}};
                    treedata.push(node);
                    for(var j=0; j< sistema.componentes[i].salidas.length;j++) {
                        salida = sistema.componentes[i].salidas[j];
                        node = {"id" : "S_" + salida.id ,"text": salida.nombre + ': ' + salida.valorCalculado, "parent" : "SALIDAS_" + sistema.componentes[i].id ,"state": {"opened": "false"}};
                        treedata.push(node);
                        }
                    }

                    node ={"id": "M", "parent": "#", "text": "Metricas del Sistema."};
                    treedata.push(node);
                    node ={"id": "Fi", "parent": "M", "text": "Fiabilidad:" + sistema.fiabilidad };
                    treedata.push(node);
                    /*
                    node ={"id": "Dis", "parent": "M", "text": "Disponibilidad:" + sistema.fiabilidad };
                    treedata.push(node);
                    node ={"id": "TME", "parent": "M", "text": "Tiempo medio entre errores:" + sistema.fiabilidad };
                    treedata.push(node);
                    */
            $('#data').jstree(true).settings.core.data = treedata;
            $('#data').jstree(true).redraw(true);
            $('#data').jstree(true).refresh();
      
            detieneLoading('#modal-valorEntrada .modal-contenido');
       nodoSeleccionable=true;
       
            }

            function nextStep(){

            var miejecucion = document.getElementById('form_ejecucion_id').value;
            console.log("Simulacion: " + {{ app.request.get('id')}});
            console.log("Ejecucion: " + miejecucion);
            $.post('{{path('simulacion_siguientepaso')}}',
            {simulacion:{{ app.request.get('id')}},
                    ejecucion: miejecucion},
                    function(resultado){
                         
                    console.log("RESULTADO:");
                    console.log(resultado);
                    
                    document.getElementById('form_ejecucion_id').value = resultado["ejecucion"];
                    document.getElementById('form_ejecucion_paso').value = resultado["paso"];
                 
                   
                    for (const element of document.getElementsByClassName("evento_" + resultado["paso"])){
                        element.classList.add("aplicado");
                     }
                    
                    //var data = JSON.stringify(valores);
                    //var sistema = JSON.parse(data);
                    
                    updateTreeSistema(resultado["sistema"]);
                    updateGrafico(resultado["sistema"]);
                    
                    if(resultado["paso"] == resultado["simulacion"]["tiempo"]) {
                        stopSimulacion();
                        window.$('#modal-finSimulacion').show();
                    }
                    
                    detieneLoading('#modal-valorEntrada .modal-contenido');
       
                    //Hay que actualizar los datos del sistema.
                    console.log('ejecutado el siguente paso de la simulacion');
                    });
            }

function hacerZoom() {
     graph.zoomIn();
            graph.view.rendering = true;
            graph.refresh();
}
function salirZoom() {
     graph.zoomOut();
            graph.view.rendering = true;
            graph.refresh();
}

function ajustarZoom() {
     graph.fit();
            graph.view.rendering = true;
            graph.refresh();
}


        </script>
    </div>
    {% if simulacion != null %}
        <div class="enmarcado" style="padding: 10px; margin-top: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 8%; text-align: left;">
                        
                        <div id="estadosimulacion" class="{% if ejecucion is null %}stopped{% else %}paused{% endif %}"/>
                    </td>

                    <td style="width: 23%; text-align: left;">
                        Estado: <span id="estadoejecucion" style="font-size: 16px; font-weight: bold">{% if ejecucion is null %} SIN INICIAR {% else %} PAUSADA {% endif %} </span>

                    </td>
                    <td style="width: 40%; text-align: center;">
                        Ejecución: <input readonly name="form[ejecucion_id]" id="form_ejecucion_id" size="6" value="{% if ejecucion is not null %}{{ ejecucion.IdEjecucion }}{% endif %}">
                        Paso: <input readonly name="form[ejecucion_paso]" id="form_ejecucion_paso" value="{% if ejecucion is not null %}{{ ejecucion.step }}{% endif %}"  size="6">
                        {% if simulacion.tiempo is null %} hasta detener {% else %}de {{ simulacion.tiempo }} {% endif %}
                    </td>
                    <td style="width: 35%; text-align: right;">
                        <a href="javascript:iniciaSimulacion();" class="boton play" id="btn-play"></a>
                        <a href="javascript:pausaSimulacion();" class="boton pause" id="btn-editarEntrada"></a>
                        <a href="javascript:stopSimulacion();" class="boton stop" id="btn-editarEntrada"></a>
                        <a href="javascript:restartSimulacion();" class="boton restart" id="btn-editarEntrada"></a>
                        <a href="javascript:navegarResultados();" class="boton verresultados" id="btn-editarEntrada"></a>
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
        <br/>

    {% endif %}

    <div class="grid-container">
        <div id="graphContainer" class="grid-item"
             style="cursor:default;border: 1px;">
        </div>
        <div class="grid-item" style="min-width: 100px; width: 100%;overflow: scroll;">
            <!-- Creates a container for the graph with a grid wallpaper -->
            <div class="cabeceraresultados">Información del Sistema.</div>
            <div id="data" class="arbolresultados"></div>
            <script>

                $('#data').jstree({
                "themes" : {
                "theme" : "default",
                        "dots" : false,
                        "icons" : false },
                        'core' : {
                        'data' : [ {"id": "C", "text": "Componentes.", "state": {"opened": "true"}, "children": [
                {% for componente in sistema.componentes %}       
                        { "id":{{componente.id}}, "text": "{{componente.nombre}}",
                                "children" : [
                                {"text": "Entradas", "state": {"opened": "true"}, "children": [
                    {% for entrada in componente.entradas %}
                        {% if loop.last %}
                                            {"id": "E_{{entrada.id}}", "text" :"{{entrada.nombre}}: {{entrada.valor}}" }
                        {% else %}
                                            {"id": "E_{{entrada.id}}", "text" :"{{entrada.nombre}}: {{entrada.valor}}" },
                        {% endif %}
                    {% endfor %}
                                        ]},
                                        {"text": "Salidas", "state": {"opened": "true"}, "children": [
                    {% for salida in componente.salidas %}
                        {% if loop.last %}
                                            {"id": "S_{{salida.id}}", "text" :"{{salida.nombre}}: {{salida.valorCalculado}}" }
                        {% else %}
                                            {"id": "S_{{salida.id}}", "text" :"{{salida.nombre}}: {{salida.valorCalculado}}" },
                        {% endif %}
                    {% endfor %}
                                        ]}
                                        ]}{% if not loop.last %},{% endif %}
                {% endfor %}
                            ]},
                            {"id": "M", "text": "Metricas del Sistema.", "children": [
                            {"id": "Fi", "text": "Fiabilidad: {{sistema.fiabilidad}}"}
                            
                           
                            ]}
                            ]
                            },
                            'plugins' : ["state", "themes"]});
                    function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                    }

                    function blinkNode(id) {

                    //graph.insertVertex(graph.getDefaultParent(), id, 'Soy una prueba', 20, 20, 80, 30);

                    v1 = graph.getModel().getCell(id);
                    console.log(v1);
                    graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, 'red', [v1]);
                    //graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, 'rounded=0;strokeColor=black;fillColor=#ccccFF', [v1]);

                    }

                    function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                    }

                    $('#data').on("select_node.jstree", async function (e, data) {
                    console.log('seleccionado nodo ' + data.node.id);
                    
                    if(nodoSeleccionable == true) {
                        nodoSeleccionable = false;
                        console.log('seleccionado nodo ' + data.node.id);
                        v1 = graph.getModel().getCell(data.node.id);
                        console.log(v1);
                        graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '10', [v1]);
                        await sleep(500);
                        graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '1', [v1]);
                        await sleep(500);
                        graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '10', [v1]);
                        await sleep(500);
                        graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '1', [v1]);
                        nodoSeleccionable = true;
                    }
                    });

            </script>

        </div>

    </div>
    <div style="margin-top: 20px;">
            <input type="buttom" class="boton" value="Zoom +" style="width: 90px;text-align: center;" onclick="hacerZoom();">
            <input type="buttom" class="boton" value="Zoom -" style="width: 90px;text-align: center;"onclick="salirZoom();"> 
            <input type="buttom" class="boton" value="Ajustar" style="width: 90px;text-align: center;" onclick="ajustarZoom();">
                
        </div>


    <div class="enmarcado">
        Calculo de la fiabilidad:<br/><br/>
        {{ sistema.reduccion }}
    </div>

    {% if simulacion != null %}

        <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Eventos a aplicar</h2>       
        <div class="apartado-edicion-tabla">

            <table cellpadding="0" cellspacing="0" class="listado" style="overflow: scroll; max-height: 400px;">
                <thead>
                    <tr>
                         <th width="10%">Aplicado</th>
                        <th width="20%">Nombre</th>
                        <th width="10%">Instante</th>
                        <th width="20%">Tipo</th>
                        <th width="20%">Evento</th>
                        <!-- th width="20%">Descripcion</th-->
                    </tr>
                </thead>
                <tbody>

                    {% for evento in simulacion.vweventos %}
                        <tr>
                            <td style="width: 20px; text-align: center;"><div id="evento_{{ evento.instante }}" class="evento_{{ evento.instante }}" {% if ejecucion is not null %} {% if  ejecucion.step > evento.instante  %}class="aplicado"{% endif %}{% endif %}>&nbsp;</div></td>
                            <td>{{ evento.nombre }}</td>
                            <td>{{ evento.instante }} </td>
                            <td>{% if evento.componenteid != null %}Estado componente{% else %}Valor entrada{%  endif %}</td>
                            <td>{% if evento.componenteid != null %}{{ evento.componente }}: {% if evento.estado == 0 %}Fallo{% else %}Activo{% endif %} (Fallo en {{ evento.porcentajefallo }}%){% else %}{{ evento.componententrada }}:{{ evento.entrada }}={{ evento.valor }} {%  endif %} </td>
                            <!-- td><a href="javascript:seleccionaEvento('{{ evento.idevento }}');">{{ evento.descripcion|raw}}</a></td-->
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
                    </div>
                    
                    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Métricas recogidas</h2>       
        <div class="apartado-edicion-tabla">

            <table cellpadding="0" cellspacing="0" class="listado" style="overflow: scroll; max-height: 400px;">
                <thead>
                    <tr>
                        <th width="25%">Nombre</th>
                        <th width="25%">Color</th>
                        <th width="50%">Descripcion</th>
                    </tr>
                </thead>
                <tbody>

                    {% for metrica in simulacion.metricas %}
                        <tr>
                            <td>{{ metrica.nombre }}</td>
                            <td><div style="background-color: {{ metrica.color}}; width: 50%;">&nbsp;</div></td>
                            <td>{{ metrica.descripcion|raw}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
                    {% endif %}
        {% include 'sistema/sistemas_grafico_modales.html.twig' %}
{% endblock %}
