{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% block javascripts %}

    <script type="text/JavaScript">
        
        function isEmpty(obj) {
   for (var x in obj) { if (obj.hasOwnProperty(x))  return false; }
   return true;
}

        /**
        * Obtiene los datos de un componentes mediante json y los muestra en el
        * formulario para su edicion.
        * 
        * @param int id Identificador del componente a seleccionar.
        * 
        */
        function seleccionaComponente(id) 
        {

            //Muestra la ventana modal de mostrar movimiento.        
            $('#modal-editarComponente').show();

            if(id==""){
                id=0;
            }

            iniciaLoading('#modal-editarComponente .modal-contenido');

            $.post( '{{path('componentes_info')}}',
            {id: id},
            function(componente, status){

                detieneLoading('#modal-editarComponente .modal-contenido');
;
                if(!isEmpty(componente)){
                    $('#form_componente_id').val(componente['id']);
                    $('#form_componente_nombre').val(componente['nombre']);
                    $('#form_componente_configuracion').val(componente['configuracion']);
                    $('#form_componente_ndekminimo').val(componente['ndekminimo']);
                    $('#form_componente_descripcion').val(componente['descripcion']);
                    $('#form_componente_fiabilidad').val(componente['fiabilidad']);
                    $('#form_componente_color').val(componente['color']);
                    $('#form_componente_colortexto').val(componente['colortexto']);
                    
                    $('#modal-editarComponente #entradasComponente table tbody').html('');
                    $('#modal-editarComponente #salidasComponente table tbody').html('');

                    componente.entradas.forEach( function(valor, indice, array) {
                        $('#modal-editarComponente #entradasComponente table tbody').append(
                        '<tr style="cursor: pointer;" onClick="seleccionaEntrada(' + valor['id'] + ',' + componente['id'] + ')">'+
                        '<td>'+valor['nombre'] + '</td>'+ 
                        '<td>'+(valor['valorinicial'] != null ? valor['valorinicial'] : '0')+'</td>'+ 
                        '<td>'+(valor['conexion'] != null ? valor['conexion'] : '')+'</td>' + '</tr>');   
                    });
        
                    componente.salidas.forEach( function(valor, indice, array) {
                        $('#modal-editarComponente #salidasComponente table tbody').append(
                        '<tr style="cursor: pointer;" onClick="seleccionaSalida(' + valor['id'] + ',' + componente['id'] + ')">'+
                        '<td>'+valor['nombre'] + '</td>'+ 
                        '<td>'+(valor['operacionNombre'] != null ? valor['operacionNombre'] : '0')+'</td>'+ '</tr>');   
                    });
                    
                }else{
                    $('#form_componente_id').val('');
                    $('#form_componente_nombre').val('');
                    $('#form_componente_configuracion').val('');
                    $('#form_componente_ndekminimo').val('');
                    $('#form_componente_descripcion').val('');
                    $('#form_componente_fiabilidad').val('');
                    $('#form_componente_color').val('#bdbdbd');
                    $('#form_componente_colortexto').val('#000000');
                    
                    $('#modal-editarComponente #entradasComponente table tbody').html('');
                    $('#modal-editarComponente #salidasComponente table tbody').html('');
                    
                    id=null;
                }
            }
            );
        }

        /**
        * Obtiene los datos de una entrada de un componentes mediante json y 
        * los muestra en elformulario para su edicion.
        * 
        * @param int id Identificador de la entrada del componente.
        * 
        */
        function seleccionaEntrada(id,idcomponente) 
        {
            //Muestra la ventana modal de mostrar movimiento.        
            $('#modal-editarEntrada').show();

            if(id==""){
                id=0;
            }

            iniciaLoading('#modal-editarEntrada .modal-contenido');

            recargarSalidas({{ app.request.get('id') }},idcomponente);

            $.post( '{{path('entradas_info')}}',
            {id: id},
            function(entrada, status){

               
                detieneLoading('#modal-editarEntrada .modal-contenido');
                console.log("seleccionaEntrada: entrada_id:" + entrada['id'] + status);
                console.log("seleccionaEntrada: idcomponente:" + idcomponente);
                
                //Esto es para la ventana modal de añadir IP
                if(entrada['id'] !== undefined){
                    $('#form_entrada_id').val(entrada['id']);
                    $('#form_entrada_nombre').val(entrada['nombre']);
                    $('#form_entrada_valorinicial').val(entrada['valorinicial']);
                    $('#form_entrada_conexionsalida').value = entrada['salida_id'];
                    $('#form_entrada_componente_id').val(entrada['componente_id']);
                    $('#form_entrada_color').val(entrada['color']);
                    $('#form_entrada_colortexto').val(entrada['colortexto']);
                    
                    console.log("seleccionaEntrada: componente_id" + entrada['componente_id']);

                    for (var i = 0; i < $('#form_entrada_conexionsalida option').length; ++i) {
                        if ($('#form_entrada_conexionsalida option')[i].value == entrada['salida_id'])
                            $('#form_entrada_conexionsalida option')[i].selected = true;
                    }
    
                    $('#form_entrada_descripcion').val(entrada['descripcion'] );
                    
                }else{
                    
                    $('#form_entrada_componente_id').val(idcomponente);
                    $('#form_entrada_id').val('');
                    $('#form_entrada_nombre').val('');
                    $('#form_entrada_salida').val('');
                    $('#form_entrada_color').val('#940010');
                    $('#form_entrada_colortexto').val('#ffffff');
                    $('#form_entrada_descripcion').val('');
                    id=null;
                }
            }
            );
        }

        /**
        * Obtiene los datos de una salida de un componentes mediante json y 
        * los muestra en elformulario para su edicion.
        * 
        * @param int id Identificador de la salida del componente.
        * @param int idcomponente Identificador del componente al que pertenece la salida
        * 
        */
        function seleccionaSalida(id,idcomponente) 
        {
            //Muestra la ventana modal de mostrar movimiento.        
            $('#modal-editarSalida').show();

            if(id==""){
                id=0;
            }

            iniciaLoading('#modal-editarSalida .modal-contenido');

            $.when(recargarOperaciones()).done(function(){
 
            $.post( '{{path('salidas_info')}}',
            {id: id},
            function(salida, status){

                detieneLoading('#modal-editarSalida .modal-contenido');
                
                //Esto es para la ventana modal de añadir IP
                if(salida['id'] !== undefined){
                    $('#form_salida_id').val(salida['id']);
                    $('#form_salida_nombre').val(salida['nombre']);
                    $('#form_salida_operacion').val(salida['operacion']);
                    $('#form_salida_descripcion').val(salida['descripcion']);
                    $('#form_salida_componente_id').val(salida['componente_id']);
                     $('#form_salida_color').val(salida['color']);
                    $('#form_salida_colortexto').val(salida['colortexto']);
                    
                    console.log("seleccionaSalida: componente_id" + salida['componente_id']);
                    
                      for (var i = 0; i < $('#form_salida_operacion option').length; ++i) {
                        if ($('#form_salida_operacion option')[i].value == salida['operacion'])
                            $('#form_salida_operacion option')[i].selected = true;
                    }
    
                }else{
                    $('#form_salida_componente_id').val(idcomponente);
                    $('#form_salida_id').val('');
                    $('#form_salida_nombre').val('');
                    $('#form_salida_operacion').val('');
                    $('#form_salida_color').val('#000000');
                    $('#form_salida_colortexto').val('#ffffff');
                    $('#form_salida_descripcion').val('');
                    id=null;
                }
            }
            );
    
            })
        }
        
        /**
        * Obtiene los datos de una entrada de un componentes mediante json y 
        * los muestra en elformulario para su edicion.
        * 
        * @param int id Identificador de la entrada del componente.
        * 
        */
        function recargarSalidas(idsistema,idcomponente) 
        {

            $('#form_entrada_conexionsalida').html('');

            $.ajaxSetup({async: false}); 
            $.post( '{{path('salidas_lista')}}',
            {idsistema: idsistema, 
                idcomponente, idcomponente},
            function(entradas, status){

                $('#form_entrada_componente_id').val(idcomponente);
                $('#form_entrada_conexionsalida').append(
                        '<option value="null">Seleccione una salida para conectar</td>'); 
                
                for(var i =0; i < entradas.length; i++){
                    
                        $('#form_entrada_conexionsalida').append(
                        '<option value="'+entradas[i]['idsalida'] + '">' + entradas[i]['componente'] + '->' + entradas[i]['salida'] +  '</option>');   
                        //podría poner embebido aca un parámetro de id para poder recuperarlo, bah, arriba llamo con la id mas facil
                    };
            }
            );
        }
        
        /**
        * Obtiene los datos de una las distintas operaciones que se pueden realizar
        * para la salida de un componente
        * 
        */
        function recargarOperaciones() 
        {

            $('#form_salida_operacion').html('');

            $.ajaxSetup({async: false});  
            $.post( '{{path('operaciones_lista')}}',
            
            function(operaciones, status){

                $('#form_salida_operacion').append(
                        '<option value="null" selected="true">Seleccione una salida para conectar</td>'); 
                
                for(var i =0; i < operaciones.length; i++){
                    
                        $('#form_salida_operacion').append(
                        '<option value="'+operaciones[i]['idoperacion'] + '">' + operaciones[i]['operacion']  + '</option>');   
                        //podría poner embebido aca un parámetro de id para poder recuperarlo, bah, arriba llamo con la id mas facil
                    };
                    
            }
            );
        }
        
        //Una vez que el documento se ha cargado.
        $(document).ready(function() {

        });

    </script>

{% endblock %}    

{% block edicion %}

<!--
            VENTANA MODAL PARA EDITAR Y AÑADIR COMPONENTES AL SISTEMA TOLERANTE A FALLOS
-->                 
<div id="modal-editarComponente" class="modal modal-mediana formulario-edicion"> 
    <div class="modal-contenido"> 

        <span class="modal-cerrar">&times;</span> 
        <h3>Gesti&oacute;n de Componentes del Sistema</h3>
        <div class="contenido formulario-edicion">
            {% if simulacion is defined %}
                {% if simulacion != null %}
                    <form name="form" method="post" action="{{ path('sistemas_guardarcomponente', { 'id' : simulacion.sistema.idsistema }) }}">
                {% else %}}
                    <form name="form" method="post" action="{{ path('sistemas_guardarcomponente', { 'id' : app.request.get('id') }) }}">
                {% endif %}
            {% else %}
                <form name="form" method="post" action="{{ path('sistemas_guardarcomponente', { 'id' : app.request.get('id') }) }}">
            {% endif %}
                <fieldset>
                    <div>
                        <div class="columnas1">
                            <label for="form_componente_nombre" style="font-weight: bold;">Nombre*:</label>
                            <input type="text" id="form_componente_nombre" name="form[componente_nombre]" value="" required="true">
                        </div>
                        <div class="columnas1">
                            <label for="form_componente_fiablidad"  style="font-weight: bold;">Fiabilidad del componente*:</label>
                            <input type="text" id="form_componente_fiabilidad" name="form[componente_fiabilidad]" value="" required="true">
                        </div>
                        <div class="columnas1">
                            <label for="form_componente_configuracion"  style="font-weight: bold;">Configuracion*:</label>
                            <select id="form_componente_configuracion" required="true" name="form[componente_configuracion]">
                                <option value="0">Serie</option>
                                <option value="1">Paralelo</option>
                                <option value="2">k-de-n</option>
                            </select>
                        </div>
                        <div class="columnas1">
                            <label for="form_componente_ndekminimo"  >Mínimo en k-de-n:</label>
                            <input type="text" id="form_componente_ndekminimo" name="form[componente_ndekminimo]" value="">
                        </div>
                        <div class="columnas1">
                            <label for="form_componente_color">Color del componente:</label>
                            <input id="form_componente_color" name="form[componente_color]" type="color" value="#cccccc" style="width: 100px;">
                        </div>
                        <div class="columnas1">
                            <label for="form_componente_colortexto">Color del texto:</label>
                            <input id="form_componente_colortexto" name="form[componente_colortexto]" type="color" value="#000000" style="width: 100px;">
                        </div>
                        <div class="columnas1">
                            <label for="form_componente_descripcion">Descripcion:</label>
                            <textarea id="form_componente_descripcion" name="form[componente_descripcion]"></textarea>
                        </div>
                        <div> 
                            <table width="100%">
                                <tbody>
                                    <tr style="background-color: #f3f3f3;">
                                        <td style="text-align: right">
                                            
                                            <input type="hidden" id="form_componente_id" name="form[componente_id]" value="">
                                             {% if tienePermisos == true %}
                                            <input type="button" class="boton"  id="form_componente_nuevo" name="form[componente_nuevo]" value="Nuevo" onclick="javascript:seleccionaComponente(-1);">
                                            <input type="submit" class="boton"  id="form_componente_guardar" name="form[componente_guardar]" value="Guardar">
                                            <input type="submit" class="boton"  id="form_componente_clonar" name="form[componente_clonar]" value="Clonar">
                                            <input type="submit" class="boton"  id="form_componente_eliminar" name="form[componente_eliminar]" value="Eliminar">
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                
                        </div>   
                    </div>
                </fieldset>   
            </form>
            
            <div id="" class="apartado-tabs sistema-tabs" style="margin: 20px auto 36px auto;">
            <ul class="listado-tabs">
            <li>Entradas al componente</li>
            <li>Salidas del componente</li>
        </ul>
        <div class="tabs">
            
            <!-- ENTRADAS DEL COMPONENTE -->
            <div id="entradasComponente" style="margin: 5px auto 5px auto;">
       
                <table cellpadding="0" cellspacing="0" class="listado" style="overflow: scroll; max-height: 400px;">
                        <thead>
                            <tr>
                                <th width="25%">Nombre</th>
                                <th width="25%">Valor Inicial</th>
                                <th width="50%">Conexión</th>
                            </tr>
                        </thead>
                            <tbody>
                            </tbody>
                        
                    </table>
       
                <div style="text-align: right; padding: 12px;">
                    {% if tienePermisos == true %}
                        {% if app.request.get('id') != null %}
                            &nbsp;<a href="javascript:seleccionaEntrada('',form_componente_id.value);" class="boton" id="btn-editarEntrada">Nueva Entrada.</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <!-- SALIDAS DEL COMPONENTE -->
            <div id="salidasComponente" style="margin: 5px auto 5px auto;">    
                
                    <table cellpadding="0" cellspacing="0" class="listado" style="overflow: scroll; max-height: 400px;">
                        <thead>
                            <tr>
                                <th width="25%">Nombre</th>
                                <th width="25%">Operacion</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
               
                 <div style="text-align: right; padding: 12px;">
                    {% if tienePermisos == true %}
                        {% if app.request.get('id') != null %}
                            &nbsp;<a href="javascript:seleccionaSalida('',form_componente_id.value);" class="boton" id="btn-editarSalida">Nueva Salida.</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>              
    </div>  
        </div>
</div>

</div>
<!--
    VENTANA MODAL PARA EDITAR Y AÑADIR ENTRADAS AL COMPONENTE
-->                 
<div id="modal-editarEntrada" class="modal modal-pequena formulario-edicion"> 
    <div class="modal-contenido"> 

        <span class="modal-cerrar">&times;</span> 
        <h3>Entradas de componentes del Sistema</h3>
        <div class="contenido formulario-edicion">
            {% if simulacion is defined %}
                {% if simulacion != null %}
                    <form name="form" method="post" action="{{ path('sistemas_guardarentrada', { 'id' : simulacion.sistema.idsistema }) }}">
                {% else %}}
                    <form name="form" method="post" action="{{ path('sistemas_guardarentrada', { 'id' : app.request.get('id') }) }}">
                {% endif %}
            {% else %}
                        <form name="form" method="post" action="{{ path('sistemas_guardarentrada', { 'id' : app.request.get('id') }) }}">
            {% endif %}
           
                <fieldset>
                    <div>
                        <div class="columnas1">
                            <label for="form_entrada_nombre"  style="font-weight: bold;">Nombre*:</label>
                            <input type="text" id="form_entrada_nombre" name="form[entrada_nombre]" value="" required="true">
                            
                        </div>

                        <div class="columnas1">
                            <label for="form_entrada_valorinicial"  style="font-weight: bold;">Valor inicial*:</label>
                            <input type="text" id="form_entrada_valorinicial" name="form[entrada_valorinicial]" value="" required="true">
                        </div>
                        
                        <div class="columnas1">
                            <label for="form_entrada_conexionsalida">Conexión:</label>
                            <select id="form_entrada_conexionsalida" name="form[entrada_conexionsalida]">
                            </select>
                            
                        </div>
                          <div class="columnas1">
                            <label for="form_entrada_color">Color de la entrada:</label>
                            <input id="form_entrada_color" name="form[entrada_color]" type="color" value="#ffffff" style="width: 100px;">
                        </div>
                        <div class="columnas1">
                            <label for="form_entrada_colortexto">Color del texto:</label>
                            <input id="form_entrada_colortexto" name="form[entrada_colortexto]" type="color" value="#000000" style="width: 100px;">
                        </div>
                        <div class="columnas1">
                            <label for="form_entrada_descripcion">Descripcion:</label>
                            <textarea id="form_entrada_descripcion" name="form[entrada_descripcion]"></textarea>
                        </div>
                        <div>
                            <table width="100%">
                                <tbody>
                                    <tr style="background-color: #f3f3f3;">
                                        <td style="text-align: right">
                                           
                                <input type="hidden" id="form_entrada_id" name="form[entrada_id]" value="">
                                <input type="hidden" id="form_entrada_componente_id" name="form[entrada_componente_id]" value="">
                                {% if tienePermisos == true %}           
                                <input type="button" class="boton" id="form_entrada_nuevo" name="form[entrada_nuevo]" value="Nuevo" onclick="javascript:seleccionaEntrada(-1);">
                                &nbsp;<input type="submit" class="boton" id="form_entrada_guardar" name="form[entrada_guardar]" value="Guardar" />
                                &nbsp;<input type="submit" class="boton" id="form_entrada_clonar" name="form[entrada_clonar]" value="Clonar" />
                                &nbsp;<input type="submit" class="boton" id="form_entrada_eliminar" name="form[entrada_eliminar]" value="Eliminar" />
                                {% endif %}        
                                </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>   
            </form>
        </div>              
    </div>  
</div>

<!--
    VENTANA MODAL PARA EDITAR Y AÑADIR SALIDAS AL COMPONENTE
-->                 

<div id="modal-editarSalida" class="modal modal-pequena formulario-edicion"> 
    <div class="modal-contenido"> 

        <span class="modal-cerrar">&times;</span> 
        <h3>Salidas de componentes del Sistema</h3>
        <div class="contenido formulario-edicion">
            {% if simulacion is defined %}
                {% if simulacion != null %}
                    <form name="form" method="post" action="{{ path('sistemas_guardarsalida', { 'id' : simulacion.sistema.idsistema }) }}">
                {% else %}}
                    <form name="form" method="post" action="{{ path('sistemas_guardarsalida', { 'id' : app.request.get('id') }) }}">
                {% endif %}
            {% else %}
           <form name="form" method="post" action="{{ path('sistemas_guardarsalida', { 'id' : app.request.get('id') }) }}">
               {% endif %}
                <fieldset>
                    <div>
                        <div class="columnas1">
                            <label for="form_salida_nombre" style="font-weight: bold;">Nombre*:</label>
                            <input type="text" id="form_salida_nombre" name="form[salida_nombre]" value="" required="required">
                        </div>
 
                        <div class="columnas1">
                            <label for="form_salida_operacion" style="font-weight: bold;">Operacion:</label>
                            <select id="form_salida_operacion" name="form[salida_operacion]" required="required">
                                <option value="null">Seleccione una operacion a realizar</option>
                            </select>
                            
                        </div>
                         <div class="columnas1">
                            <label for="form_salida_color">Color de la salida:</label>
                            <input id="form_salida_color" name="form[salida_color]" type="color" value="#ffffff" style="width: 100px;">
                        </div>
                        <div class="columnas1">
                            <label for="form_salida_colortexto">Color del texto:</label>
                            <input id="form_salida_colortexto" name="form[salida_colortexto]" type="color" value="#000000" style="width: 100px;">
                        </div>
                        
                        <div class="columnas1">
                            <label for="form_salida_descripcion">Descripcion:</label>
                            <textarea id="form_salida_descripcion" name="form[salida_descripcion]"></textarea>
                        </div>
                        <div>
                            <table width="100%">
                                <tbody>
                                    <tr style="background-color: #f3f3f3;">
                                        <td style="text-align: right">
                                            <input type="hidden" id="form_salida_id" name="form[salida_id]" value="">
                                            <input type="hidden" id="form_salida_componente_id" name="form[salida_componente_id]" value="">
                                           {% if tienePermisos == true %}
                                               <input type="button" class="boton" id="form_salida_nuevo" name="form[salida_nuevo]" value="Nuevo" onclick="javascript:seleccionaEntrada(-1);">
                                            <input type="submit" class="boton" id="form_salida_guardar" name="form[salida_guardar]" value="Guardar">
                                            <input type="submit" class="boton" id="form_salida_clonar" name="form[salida_clonar]" value="Clonar">
                                            <input type="submit" class="boton" id="form_salida_eliminar" name="form[salida_eliminar]" value="Eliminar">
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                
                        </div>   
                    </div>
                </fieldset>   
            </form>
        </div>              
    </div>  
</div>
            
{% endblock %}
