{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "aplicacion/formulario_edicion.html.twig" %}

{% block estilos %}
    {{ parent() }}
{% endblock %}    

{% block javascripts %}
    {{ parent() }}
    <script type="text/JavaScript">
        
        /**
        * Obtiene los datos de un componentes mediante json y los muestra en el
        * formulario para su edicion.
        * 
        * @param int id Identificador del componente a seleccionar.
        * 
        */
        function seleccionaComponente(id) 
        {

            //Muestra la ventana modal de mostrar movimiento.        
            $('#modal-editarComponente').show();

            if(id==""){
                id=0;
            }

            iniciaLoading('#modal-editarComponente .modal-contenido');

            $.post( '{{path('componentes_info')}}',
            {id: id},
            function(componente, status){

                detieneLoading('#modal-editarComponente .modal-contenido');

                //Esto es para la ventana modal de añadir IP
                if(componente){
                    $('#form_componente_id').val(componente['id']);
                    $('#form_componente_nombre').val(componente['nombre']);
                    $('#form_componente_configuracion').val(componente['configuracion']);
                    $('#form_componente_descripcion').val(componente['descripcion']);
                    
                    $('#modal-editarComponente #entradasComponente table tbody').html('');
                    $('#modal-editarComponente #salidasComponente table tbody').html('');

                    componente.entradas.forEach( function(valor, indice, array) {
                        $('#modal-editarComponente #entradasComponente table tbody').append(
                        '<tr style="cursor: pointer;" onClick="seleccionaEntrada(' + valor['id'] + ',' + componente['id'] + ')">'+
                        '<td>'+valor['nombre'] + '</td>'+ 
                        '<td>'+(valor['valorinicial'] != null ? valor['valorinicial'] : '0')+'</td>'+ 
                        '<td>'+(valor['valor_inicial'] != null ? valor['valor_inicial'] : '')+'</td></tr>');   
                        //podría poner embebido aca un parámetro de id para poder recuperarlo, bah, arriba llamo con la id mas facil
                    });
        
                    componente.salidas.forEach( function(valor, indice, array) {
                        $('#modal-editarComponente #salidasComponente table tbody').append(
                        '<tr style="cursor: pointer;" onClick="seleccionaSalida(' + valor['id'] + ')">'+
                        '<td>'+valor['nombre'] + '</td>'+ 
                        '<td>'+(valor['id'] != null ? valor['id'] : '0')+'</td>'+ 
                        '<td>'+(valor['valor_inicial'] != null ? valor['valor_inicial'] : '')+'</td></tr>');   
                        //podría poner embebido aca un parámetro de id para poder recuperarlo, bah, arriba llamo con la id mas facil
                    });
                    
                }else{
                    $('#form_componente_id').val('');
                    $('#form_componente_nombre').val('');
                    $('#form_componente_configuracion').val('');
                    $('#form_componente_descripcion').val('');
                    
                    $('#modal-editarComponente #entradasComponente table tbody').html('');
                    $('#modal-editarComponente #salidasComponente table tbody').html('');
                    
                id=null;
                }
            }
            );
        }

        /**
        * Obtiene los datos de una entrada de un componentes mediante json y 
        * los muestra en elformulario para su edicion.
        * 
        * @param int id Identificador de la entrada del componente.
        * 
        */
        function seleccionaEntrada(id,idcomponente) 
        {
            //Muestra la ventana modal de mostrar movimiento.        
            $('#modal-editarEntrada').show();

            if(id==""){
                id=0;
            }

            iniciaLoading('#modal-editarEntrada .modal-contenido');

            recargarSalidas({{ app.request.get('id') }},idcomponente);

            $.post( '{{path('entradas_info')}}',
            {id: id},
            function(entrada, status){

                $('#form_entrada_componente_id').val(idcomponente);
    
                detieneLoading('#modal-editarEntrada .modal-contenido');
                
                //Esto es para la ventana modal de añadir IP
                if(entrada){
                    $('#form_entrada_id').val(entrada['id']);
                    $('#form_entrada_nombre').val(entrada['nombre']);
                    $('#form_entrada_valorinicial').val(entrada['valorinicial']);
                    $('#form_entrada_conexionsalida').value = entrada['salida_id'];
                    for (var i = 0; i < $('#form_entrada_conexionsalida').options.length; ++i) {
                        alert($('#form_entrada_conexionsalida').options[i].value);
                        if ($('#form_entrada_conexionsalida').options[i].value === entrada['salida_id'])
                            $('#form_entrada_conexionsalida').options[i].selected = true;
                    }
    
                    $('#form_entrada_descripcion').val(entrada['descripcion'] + entrada['salida_id']);
                }else{
                    $('#form_entrada_id').val('');
                    $('#form_entrada_nombre').val('');
                    $('#form_entrada_salida').val('');
                    $('#form_entrada_descripcion').val('');
                    id=null;
                }
            }
            );
        }

        /**
        * Obtiene los datos de una salida de un componentes mediante json y 
        * los muestra en elformulario para su edicion.
        * 
        * @param int id Identificador de la salida del componente.
        * @param int idcomponente Identificador del componente al que pertenece la salida
        * 
        */
        function seleccionaSalida(id,idcomponente) 
        {
            //Muestra la ventana modal de mostrar movimiento.        
            $('#modal-editarSalida').show();

            if(id==""){
                id=0;
            }

            iniciaLoading('#modal-editarSalida .modal-contenido');

            $.post( '{{path('salidas_info')}}',
            {id: id},
            function(salida, status){

                $('#form_salida_componente_id').val(idcomponente);
    
                detieneLoading('#modal-editarSalida .modal-contenido');
                
                //Esto es para la ventana modal de añadir IP
                if(salida){
                    $('#form_salida_id').val(salida['id']);
                    $('#form_salida_nombre').val(salida['nombre']);
                    $('#form_salida_nombre').val(salida['operacion']);
                    $('#form_entrada_descripcion').val(salida['descripcion']);
                }else{
                    $('#form_salida_id').val('');
                    $('#form_salida_nombre').val('');
                    $('#form_salida_operacion').val('');
                    $('#form_salida_descripcion').val('');
                    id=null;
                }
            }
            );
        }
        
        /**
        * Obtiene los datos de una entrada de un componentes mediante json y 
        * los muestra en elformulario para su edicion.
        * 
        * @param int id Identificador de la entrada del componente.
        * 
        */
        function recargarSalidas(idsistema,idcomponente) 
        {

            $('#form_entrada_conexionsalida').html('');

            $.post( '{{path('salidas_lista')}}',
            {idsistema: idsistema, 
                idcomponente, idcomponente},
            function(entradas, status){

                $('#form_entrada_componente_id').val(idcomponente);
                $('#form_entrada_conexionsalida').append(
                        '<option value="null">Seleccione una salida para conectar</td>'); 
                
                for(var i =0; i < entradas.length; i++){
                    
                        $('#form_entrada_conexionsalida').append(
                        '<option value="'+entradas[i]['idsalida'] + '">' + entradas[i]['componente'] + '->' + entradas[i]['salida'] +  '</td>');   
                        //podría poner embebido aca un parámetro de id para poder recuperarlo, bah, arriba llamo con la id mas facil
                    };
                    
            }
            );
        }
        
        //Una vez que el documento se ha cargado.
        $(document).ready(function() {

        });

    </script>

{% endblock %}    

{% block edicion %}

    <div class="formulario-edicion">
        {{ form_start(formulario) }}
        {{ form_errors(formulario) }}
        <fieldset>
            <legend>Datos principales</legend>
            <div>
                <div class="columnas1">
                    <div>
                        {{ form_row(formulario.nombre) }}
                    </div>
                </div>
                <div class="columnas1">
                    <div>
                        {{ form_row(formulario.visibilidad) }} 
                    </div>
                </div>
                <div class="columnas1">
                    <div>
                        {{ form_row(formulario.propietario) }} 
                        {{ form_row(formulario.idpropietario) }} 
                    </div>
                </div>
                <div class="columnas1">
                    <div>
                        {{ form_row(formulario.descripcion) }} 
                    </div>
                </div>
                <div> 
                    {% if tienePermisos == true %}
                        {{ form_widget(formulario.Guardar) }}
                        {{ form_widget(formulario.Eliminar) }}
                    {% endif %}
                    
                    {{ form_widget(formulario.Clonar) }}
                    
                    <a href="{{ path("sistemas_visualizar",{ 'id' : app.request.get('id') }) }}" class="boton">Ver sistema</a>
                </div>
            </div> 

        </fieldset>
        {{ form_end(formulario) }}

    </div>

    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Componentes del Sistema</h2>       
        <div class="apartado-edicion-tabla">

            <table cellpadding="0" cellspacing="0" class="listado" style="overflow: scroll; max-height: 400px;">
                <thead>
                    <tr>
                        <th width="25%">Nombre</th>
                        <th width="50%">Fiabilidad</th>
                        <th width="25%">Configuración</th>
                        <th width="50%">Color</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in componentes %}
                        <tr class="listado" style="cursor: pointer;"
                            onclick="seleccionaComponente('{{ item.id }}');">
                            <td>{{ item.nombre }}</a></td>
                            <td>{{ item.fiabilidad}}</a></td>
                            <td>{% if item.configuracion == 0 %} Serie {%elseif item.configuracion == 1 %} Paralelo {%elseif item.configuracion == 2 %} k-de-n {%else %} Configuración no indicada {% endif %}</a></td>
                            <td><div style="background-color: {{ item.color}};color:{{ item.colortexto}};">{{ item.color}}</div></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div style="text-align: right;">
            {% if tienePermisos == 'escritura' %}
                {% if app.request.get('id') != null %}
                    &nbsp;<a href="javascript:seleccionaComponente('');" disabled="{{ tienePermisos }}" class="boton" id="btn-nuevoMovimiento">Nuevo Componente</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Simulaciones asociadas al Sistema</h2>       
        <div class="apartado-edicion-tabla">

            <table cellpadding="0" cellspacing="0" class="listado" style="overflow: scroll; max-height: 400px;">
                <thead>
                    <tr>
                        <th width="25%">Nombre</th>
                        <th width="25%">Configuración</th>
                        <th width="50%">Fecha</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in datosHistorial %}
                        <tr>
                            <td>{{ item.hora }}</td>
                            <td>{{ item.nombre }} {{ item['apellidos'] }}</td>
                            <td>{{ item.descripcion|raw}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div style="text-align: right;">
            {% if app.request.get('id') != null %}
                &nbsp;<a href="{{ path("simulaciones_crear") }}" class="boton" id="btn-nuevoMovimiento">Nueva Simulación</a>
            {% endif %}
        </div>
    </div>

    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Historial del Sistema</h2>       
        <div class="apartado-edicion-tabla" style="overflow: scroll; max-height: 400px;">

            <table cellpadding="0" cellspacing="0" class="listado">
                <thead>
                    <tr>
                        <th width="25%">Fecha</th>
                        <th width="25%">Técnico</th>
                        <th width="50%">Contenido modificado</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in datosHistorial %}
                        <tr>
                            <td>{{ item['hora'] }}</td>
                            <td>{{ item['nombre'] }} {{ item['apellidos'] }}</td>
                            <td>{{ item['descripcion'] |raw}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'sistema/sistemas_modales.html.twig' %}
            
{% endblock %}
