{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% block javascripts %}

    <script type="text/JavaScript">

        /**
        * Cambia el valor de un componente y obtiene el resultado del recalculo del 
        * sistema en formato json.
        * 
        * @param int id Identificador del componente a seleccionar.
        * 
        */
        function cambiarValorEntrada() 
        {
       iniciaLoading('#modal-valorEntrada .modal-contenido');

        $.post( '{{ path('sistemas_cambiarvalorentrada', { 'id' : app.request.get('id') }) }}',
        {   identrada: $("#form_cambiarvalor_identrada").val(),
        valor: $("#form_cambiarvalor_valor").val()},
        function(valores, status){

        console.log(valores);
        var data = JSON.stringify(valores);
        var sistema = JSON.parse(data);
        var treedata = "";

        console.log("MI SISTEMA: " + sistema.idsistema);

        console.log("MI SISTEMA: " + sistema.componentes.length);
        var treedata = [];

        var node = {"id": "C", "parent": "#", "text": "Componentes.", "state": {"opened": "true"}};
        treedata.push(node);

        for(var i=0; i< sistema.componentes.length;i++) {
        node = { "id" : sistema.componentes[i].id , "parent": "C","text": sistema.componentes[i].nombre };
        treedata.push(node);
        node = {"id" : "ENTRADAS_" + sistema.componentes[i].id ,"text": "Entradas", "parent" : sistema.componentes[i].id ,"state": {"opened": "false"}};
        treedata.push(node);

        for(var j=0; j< sistema.componentes[i].entradas.length;j++) {
        entrada = sistema.componentes[i].entradas[j];
        node = {"id" : "E_" + entrada.id ,"text": entrada.nombre + ': ' + entrada.valor, "parent" : "ENTRADAS_" + sistema.componentes[i].id ,"state": {"opened": "false"}};
        treedata.push(node);
        }

        node = {"id" : "SALIDAS_" + sistema.componentes[i].id ,"text": "Salidas", "parent" : sistema.componentes[i].id ,"state": {"opened": "true"}};
        treedata.push(node);
        for(var j=0; j< sistema.componentes[i].salidas.length;j++) {
        salida = sistema.componentes[i].salidas[j];
        node = {"id" : "S_" + salida.id ,"text": salida.nombre + ': ' + salida.valorCalculado, "parent" : "SALIDAS_" + sistema.componentes[i].id ,"state": {"opened": "false"}};
        treedata.push(node);
        }
        }

        node ={"id": "M", "parent": "#", "text": "Metricas del Sistema."};
        treedata.push(node);
        node ={"id": "Fi", "parent": "M", "text": "Fiabilidad:" + sistema.fiabilidad };
        treedata.push(node);
        /*
        node ={"id": "Dis", "parent": "M", "text": "Disponibilidad:" + sistema.fiabilidad };
        treedata.push(node);
        node ={"id": "TME", "parent": "M", "text": "Tiempo medio entre errores:" + sistema.fiabilidad };
        treedata.push(node);
        */
        //alert($('#data'));
        //console.log("TREE:" + $('#data').jstree(true).settings.core.data);
        $('#data').jstree(true).settings.core.data = treedata;
        $('#data').jstree(true).redraw(true);
        $('#data').jstree(true).refresh();

        

        } );
        
detieneLoading('#modal-valorEntrada .modal-contenido');
        $('#modal-valorEntrada').hide();

        }


       /**
        * Cambia el valor de un componente y obtiene el resultado del recalculo del 
        * sistema en formato json.
        * 
        * @param int id Identificador del componente a seleccionar.
        * 
        */
        function cambiarEstadoComponente() 
        {

        iniciaLoading('#modal-estadoComponente .modal-contenido');

        $.post( '{{ path('sistemas_cambiarestadocomponente', { 'id' : app.request.get('id') }) }}',
        {   idcomponente: $("#form_evento_idcomponente").val(),
        estado: $("#form_evento_estado").val(),
        tipofallo: $("#form_evento_tipofallo").val()},
        function(valores, status){

        console.log(valores);
        var data = JSON.stringify(valores);
        var sistema = JSON.parse(data);
        var treedata = "";

        console.log("MI SISTEMA: " + sistema.idsistema);

        console.log("MI SISTEMA: " + sistema.componentes.length);
        var treedata = [];

        var node = {"id": "C", "parent": "#", "text": "Componentes.", "state": {"opened": "true"}};
        treedata.push(node);

        for(var i=0; i< sistema.componentes.length;i++) {
        node = { "id" : sistema.componentes[i].id , "parent": "C","text": sistema.componentes[i].nombre };
        treedata.push(node);
        node = {"id" : "ENTRADAS_" + sistema.componentes[i].id ,"text": "Entradas", "parent" : sistema.componentes[i].id ,"state": {"opened": "false"}};
        treedata.push(node);

        for(var j=0; j< sistema.componentes[i].entradas.length;j++) {
        entrada = sistema.componentes[i].entradas[j];
        node = {"id" : "E_" + entrada.id ,"text": entrada.nombre + ': ' + entrada.valor, "parent" : "ENTRADAS_" + sistema.componentes[i].id ,"state": {"opened": "false"}};
        treedata.push(node);
        }

        node = {"id" : "SALIDAS_" + sistema.componentes[i].id ,"text": "Salidas", "parent" : sistema.componentes[i].id ,"state": {"opened": "true"}};
        treedata.push(node);
        for(var j=0; j< sistema.componentes[i].salidas.length;j++) {
        salida = sistema.componentes[i].salidas[j];
        node = {"id" : "S_" + salida.id ,"text": salida.nombre + ': ' + salida.valorCalculado, "parent" : "SALIDAS_" + sistema.componentes[i].id ,"state": {"opened": "false"}};
        treedata.push(node);
        }
        
        //Si el nodo esta en error lo pinta de rojo
         
          if (sistema.componentes[i].fallado == 1) {
              console.log("fiabilidad"+sistema.componentes[i].fiabilidad);
                    v1 = graph.getModel().getCell(sistema.componentes[i].id);
                    //graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '8', [v1]);
                    graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, 'red', [v1]);
                    graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, 'red', [v1]);
                    graph.setCellStyles(mxConstants.STYLE_OPACITY, '50', [v1]);
                }
                else { //repinta en sus colores.
                     v1 = graph.getModel().getCell(sistema.componentes[i].id);
                    //graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '8', [v1]);
                    graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, sistema.componentes[i].color, [v1]);
                    graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, 'black', [v1]);
                    graph.setCellStyles(mxConstants.STYLE_OPACITY, '100', [v1]);
                }
        }

        node ={"id": "M", "parent": "#", "text": "Metricas del Sistema."};
        treedata.push(node);
        node ={"id": "Fi", "parent": "M", "text": "Fiabilidad:" + sistema.fiabilidad };
        treedata.push(node);
        /*
        node ={"id": "Dis", "parent": "M", "text": "Disponibilidad:" + sistema.fiabilidad };
        treedata.push(node);
        node ={"id": "TME", "parent": "M", "text": "Tiempo medio entre errores:" + sistema.fiabilidad };
        treedata.push(node);
        */
        //alert($('#data'));
        //console.log("TREE:" + $('#data').jstree(true).settings.core.data);
        $('#data').jstree(true).settings.core.data = treedata;
        $('#data').jstree(true).redraw(true);
        $('#data').jstree(true).refresh();

       

        } );
        
 detieneLoading('#modal-estadoComponente .modal-contenido');
        $('#modal-estadoComponente').hide();

      
                    
        }
        

                    
                    
/**
        * Obtiene los datos de una las distintas operaciones que se pueden realizar
        * para la salida de un componente
        * 
        */
        function recargarTiposError() 
        {

            $('#form_evento_tipofallo').html('');

            $.ajaxSetup({async: false});  
            $.post( '{{path('errores_lista')}}',
            
            function(errores, status){

                $('#form_evento_tipofallo').append(
                        '<option value="null" selected="true">Seleccione un tipo de error.</td>'); 
                
                for(var i =0; i < errores.length; i++){
                    
                        $('#form_evento_tipofallo').append(
                        '<option value="'+errores[i]['iderror'] + '">' + errores[i]['error']  + '</option>');   
                     
                    };
                    
            }
            );
        }
        /**
        * Obtiene los datos de un componentes mediante json y los muestra en el
        * formulario para su edicion.
        * 
        * @param int id Identificador del componente a seleccionar.
        * 
        */
        function seleccionaMetrica(id,idsimulacion) 
        {

        //Muestra la ventana modal de mostrar movimiento.        
        $('#modal-editarMetrica').show();

        if(id==""){
        id=0;
        }

        iniciaLoading('#modal-editarMetrica .modal-contenido');

        $.post( '{{path('metricas_info')}}',
        {id: id},
        function(metrica, status){

        detieneLoading('#modal-editarMetrica .modal-contenido');

        //Esto es para la ventana modal de añadir IP
        if(metrica){
        $('#form_metrica_id').val(metrica['idmetrica']);
        $('#form_metrica_nombre').val(metrica['nombre']);
        $('#form_metrica_componente').val(metrica['componente']);
        $('#form_metrica_descripcion').val(metrica['descripcion']);
        $('#form_metrica_entrada').val(metrica['entrada']);
        $('#form_metrica_salida').val(metrica['salida']);
        $('#form_metrica_fiabilidad').val(metrica['fiabilidad']);

        }else{
        $('#form_componente_id').val('');
        $('#form_componente_nombre').val('');
        $('#form_componente_configuracion').val('');
        $('#form_componente_descripcion').val('');
        $('#form_componente_fiabilidad').val('');

        id=null;
        }
        }
        );
        }

        /**
        * Obtiene los datos de una evento de un componentes mediante json y 
        * los muestra en elformulario para su edicion.
        * 
        * @param int id Identificador de la evento del componente.
        * @param int idcomponente Identificador del componente al que pertenece la evento
        * 
        */
        function seleccionaEvento(id,idsimulacion) 
        {
        //Muestra la ventana modal de mostrar movimiento.        
        $('#modal-editarEvento').show();

        if(id==""){
        id=0;
        }

        iniciaLoading('#modal-editarEvento .modal-contenido');

        $.post( '{{path('eventos_info')}}',
        {id: id},
        function(evento, status){

        detieneLoading('#modal-editarEvento .modal-contenido');

        //Esto es para la ventana modal de añadir IP
        if(evento['id'] !== undefined){
        $('#form_evento_id').val(evento['id']);
        $('#form_evento_nombre').val(evento['nombre']);
        $('#form_evento_instante').val(evento['instante']);
        $('#form_evento_componente').val(evento['componenteid']);
        $('#form_evento_estado').val(evento['estado']);
        $('#form_evento_entrada').val(evento['entradaid']);
        $('#form_evento_valor').val(evento['valor']);
        $('#form_evento_tipofallo').val(evento['tipofallo']);
        $('#form_evento_porcentajefallo').val(evento['porcentajefallo']);

        console.log("seleccionaEvento: " + evento['nombre']);

        }else{
        $('#form_evento_id').val('');
        $('#form_evento_nombre').val('');
        $('#form_evento_componente').val('');
        $('#form_evento_instante').val('');
        $('#form_evento_estado').val('');
        $('#form_evento_entrada').val('');
        $('#form_evento_valor').val('');
        $('#form_evento_tipofallo').val('');
        $('#form_evento_porcentajefallo').val('');
        id=null;
        }
        }
        );

        }

        /**
        * Obtiene los datos de una las distintas operaciones que se pueden realizar
        * para la evento de un componente
        * 
        */
        function recargarDestinosMetrica() 
        {

        $('#form_evento_operacion').html('');

        $.ajaxSetup({async: false});  
        $.post( '{{path('sistemas_EntradasSalidas')}}',

        function(operaciones, status){

        $('#form_evento_operacion').append(
        '<option value="null" selected="true">Seleccione una evento para conectar</td>'); 

        for(var i =0; i < operaciones.length; i++){

        $('#form_evento_operacion').append(
        '<option value="'+operaciones[i]['idoperacion'] + '">' + operaciones[i]['operacion']  + '</option>');   
        //podría poner embebido aca un parámetro de id para poder recuperarlo, bah, arriba llamo con la id mas facil
        };   
        }
        );
        }

        /**
        * Funcion para controlar los datos que se cargan de la metrica
        * 
        * @author i52goloa@uco.es
        */
        function recargarDestinosMetrica(elemento) 
        {
        console.log('ELEMENTO MARCADO:' + elemento);
        switch (elemento) {

        case 'componente':

        console.log($('form_metrica_fiabilidad').selected);

        document.getElementById('form_metrica_fiabilidad').value = null;
        document.getElementById('form_metrica_salida').value = null;
        document.getElementById('form_metrica_entrada').value = null;

        break;

        case 'salida':

        document.getElementById('form_metrica_fiabilidad').value = null;
        document.getElementById('form_metrica_componente').value = null;
        document.getElementById('form_metrica_entrada').value = null;

        break;

        case 'entrada':

        document.getElementById('form_metrica_fiabilidad').value = null;
        document.getElementById('form_metrica_componente').value = null;
        document.getElementById('form_metrica_salida').value = null;

        break;

        case 'fiabilidad':

        document.getElementById('form_metrica_entrada').value = null;
        document.getElementById('form_metrica_componente').value = null;
        document.getElementById('form_metrica_salida').value = null;

        break;
        }

        }

        /**
        * Funcion para controlar los datos que se cargan de la metrica
        * 
        * @author i52goloa@uco.es
        */
        function recargarDestinosEvento(elemento) 
        {
        console.log('ELEMENTO MARCADO:' + elemento);
        switch (elemento) {

        case 'componente':
        document.getElementById('form_evento_entrada').value = null;
        document.getElementById('form_evento_valor').value = null;
        break;

        case 'entrada':

        document.getElementById('form_evento_componente').value = null;
        document.getElementById('form_evento_estado').value = null;
        document.getElementById('form_evento_tipofallo').value = null;
        document.getElementById('form_evento_porcentajefallo').value = null;
        break;
        }
        }

        //Una vez que el documento se ha cargado.
        $(document).ready(function() {

        });

    </script>

{% endblock %}    

{% block edicion %}

    <style>

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #940010;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #940010;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }


    </style>
    <!--
        VENTANA MODAL PARA PONER EN FALLO UN COMPONENTE
    -->                 
    <div id="modal-estadoComponente" class="modal modal-pequena formulario-edicion"> 
        <div class="modal-contenido"> 

            <span class="modal-cerrar">&times;</span> 
            <h3>Estado de un componente.</h3>
            <div class="contenido formulario-edicion">
                <form name="form" method="post" >
                    <fieldset>
                        <div>
                            <div class="columnas1">
                                <label for="form_evento_estado">Estado:</label>

                                <select id="form_evento_estado" name="form[evento_estado]">
                                    <option ></option>
                                    <option value="1">En fallo</option>
                                    <option value="0">Activo</option>
                                </select>    
                            </div>
                            <!-- En simulación estática el error siempre es 100%.
                            <div class="columnas1">
                                <label  for="form_evento_porcentaje_error">Porcentaje error:</label>
                                <input type="text" id="form_evento_porcentajefallo" name="form[evento_porcentajefallo]" size="20" style="width: 100px;">
                            </div>
                            -->
                            <div class="columnas1">

                                <label for="form_evento_tipo_error" id="form_evento_tipofallo_label">Tipo error:</label>

                                <select id="form_evento_tipofallo" name="form[evento_tipofallo]">
                                    <option ></option>
                                </select>   
                            </div>

                            <div>
                                <table width="100%">
                                    <tbody>
                                        <tr style="background-color: #f3f3f3;">
                                            <td style="text-align: right">
                                                <input type="hidden" id="form_evento_idcomponente" name="form[evento_idcomponente]" value="">
                                                
                                                <input type="button" class="boton" id="form_evento_aceptar" name="form[evento_aceptar]" value="Aceptar" onclick="cambiarEstadoComponente();">
                                                &nbsp;<input type="button" class="boton" id="form_evento_cerrar" name="form_cambiarvalor[cerrar]" value="Cerrar" onclick="window.$('#modal-estadoComponente').hide();">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>   
                </form>
            </div>              
        </div>  
    </div>

    <!--
VENTANA MODAL PARA CAMBIAR EL VALOR DE UNA ENTRADA DE UN COMPONENTE
    -->                 
    <div id="modal-valorEntrada" class="modal modal-pequena formulario-edicion"> 
        <div class="modal-contenido"> 

            <span class="modal-cerrar">&times;</span> 
            <h3>Cambia el valor de una entrada</h3>
            <div class="contenido formulario-edicion">
                <form name="form_cambiarvalor" method="post">
                    <fieldset>
                        <div>

                            <div class="columnas1">
                                <label for="form_cambiarvalor_valor" style="white-space: nowrap;">Valor de la entrada:</label>
                                <input type="text" id="form_cambiarvalor_valor" style="width: 100px;" name="form_cambiarvalor[valor]" value="">
                            </div>

                            <hr/>

                            <div>
                                <table width="100%">
                                    <tbody>
                                        <tr style="background-color: #f3f3f3;">
                                            <td style="text-align: right">
                                                <input type="hidden" id="form_cambiarvalor_identrada" name="form_cambiarvalor[identrada]">

                                                <input type="button" class="boton" id="form_cambiarvalor_aceptar" name="form_cambiarvalor[aceptar]" value="Aceptar" onclick="cambiarValorEntrada();">
                                                &nbsp;
                                                <input type="button" class="boton" id="form_cambiarvalor_nuevo" name="form_cambiarvalor[cerrar]" value="Cerrar" onclick="window.$('#modal-valorEntrada').hide();">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>   
                </form>
            </div>              
        </div>  
    </div>

    <!--
VENTANA MODAL PARA INFORMAR DEL FIN DE LA SIMULACION
    -->                 
    <div id="modal-finSimulacion" class="modal modal-pequena formulario-edicion"> 
        <div class="modal-contenido"> 

            <span class="modal-cerrar">&times;</span> 
            <h3>Fin de la simulación</h3>
            <div class="contenido formulario-edicion">
                <form name="form_finsimulacion" method="post">
                    <fieldset>
                        <div>

                            <div class="columnas1">
                                <h1>La simulación ha finalizado</h1>
                            </div>
                            <div>
                                <table width="100%">
                                    <tbody>
                                        <tr style="background-color: #f3f3f3;">
                                            <td style="text-align: right">
                                               <input type="button" class="boton" id="form_finsimulacion_nuevo" name="form_finsimulacion[cerrar]" value="Cerrar" onclick="window.$('#modal-finSimulacion').hide();">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>   
                </form>
            </div>              
        </div>  
    </div>


{% endblock %}
