/*
* LOGIN
*/
#login {
	position: relative;
	width: 500px;
	margin: 0 auto;
}

	#login h1 {
		display: block;
		width: 200px;
		height: 161px;
		margin: 24px auto 12px auto;
		padding: 0;
		background: url(../img/login.png) no-repeat center 0;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	
	#loginForm {
		margin: 0 auto;
		text-align: center;
	}

		#loginForm div.login {
			width: 160px;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;
		}

			#loginForm label {
				clear: left;
				display: block;
				float: left;
				width: 26px;
				height: 26px;
				margin-top: 12px;
				text-shadow: none;
				color: transparent;
				border-radius: 4px 0 0 4px;
			}

			#loginForm label.usuario {
				background: url(../img/login-usuario.png) no-repeat 0 0 #444444;
			}

			#loginForm label.password {
				background: url(../img/login-password.png) no-repeat 0 0 #444444;
			}

			#loginForm input[type=text], #loginForm input[type=password] {
				display: block;
				float: left;
				margin-top: 12px;
				border-radius: 0 4px 4px 0;
				border-left: 0;
			}

			#loginForm input[type=submit], #loginForm input[type=button] {
				display: inline-block;
				margin-top: 12px;
				margin-bottom: 24px;
				padding: 9px;
				font-size: 14px;
				line-height: 14px;
				text-transform: uppercase;
				font-weight: bold;
				color: #fff;
				background-color: #940010;
				border: 0;
				border-radius: 4px;
			}

			#loginForm input[type=submit] {
				font-size: 14px;
			}

			#loginForm input[type=button] {
				font-size: 12px;
	                        margin-left: 20px;
			}

			#loginForm input[type=submit]:hover {
				opacity: 0.7;
				cursor: pointer;
			}

		#loginForm .error {
			padding: 6px;
			font-size: 13px;
			text-align: left;
			border: 1px solid #d21b2f;
			background-color: #ffb7bf;
			border-radius: 4px;
		}

	.autofirma {
		margin-top: 24px;
		margin-bottom: 36px;
		text-align: center;
	}

		.autofirma div:first-child:not(.bounce1) {
			margin-bottom: 12px;
			text-align: center;
			border-top: 2px solid #D9D9D9;
		}

			.autofirma div span {
				display: block;
				width: 124px;
				margin: -10px auto 0 auto;
				font-family: 'Roboto Slab', serif;
				font-weight: bold;
				font-size: 16px;
				background-color: #ffffff;
			}

			.autofirma button {
				padding-left: 36px;
				background: url(../img/login-autofirma.png) no-repeat 6px center #940010;
				background-size: auto 20px;
			}		

/*
* AVISOS FLASH Y ERRORES
*/
.flash {
	width: 100%;
	text-align: center;
}
	.flash p {
		display: inline-block;
		max-width: 550px;
		padding: 12px 12px 12px 47px;
		font-size: 14px;
		line-height: 18px;
		text-align: left;
		color: #037a93;
		border: 1px solid #36abc4;
		border-radius: 4px;
		background: url(../img/flash-informacion.png) no-repeat 12px center #c4ecf4;
	}

	.flash-error p {
		color: #b10212;
		border: 1px solid #d21b2f;
		background: url(../img/flash-error.png) no-repeat 12px center #ffb7bf;
	}

	.flash-correcto p {
		color: #3a8e15;
		border: 1px solid #72cd4b;
		background: url(../img/flash-correcto.png) no-repeat 12px center #dff2bf;
	}
        
        .flash-warning p {
                max-width: 100%;
		color: #000000;
		border: 1px solid #FFCD43;
		background: url(../img/flash-warning.png) no-repeat 12px center #FFECBF;
	}

/*
* ERRORES HTML
*/
.html-error {}

	.html-error p {
		padding: 24px 24px 24px 71px;
		font-size: 14px;
		line-height: 24px;
		background-position: 24px center;
	}

		.html-error p b {
			font-family: 'Roboto Slab', serif;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;

		}