/*
-----------
INFORMACIÓN
-----------

COLORES:
        burdeos: #940010;
        verde-extraclaro: #e8f5d2;
        verde-claro: #dff2bf;
        verde-intermedio: #ade081;
        verde-medio: #72cd4b;
        verde-oscuro: #3a8e15;
        azul-extraclaro: #d5f1f7;
        azul-claro: #c4ecf4;
        azul-intermedio: #77cbdc;
        azul-medio: #36abc4;
        azul-oscuro: #037a93;
        rojo-claro: #ffb7bf;
        rojo-intermedio: #df5e6c;
        rojo-medio: #d21b2f;
        rojo-oscuro: #b10212;
        amarillo-claro: #fef2d4;
        amarillo-intermedio: #fbd168;
        amarillo-medio: #FABE28;
        amarillo-oscuro: #e1ab24;
        naranja-intermedio: #fb9568;
        naranja: #fa6828;
        gris0: #fafafa;
        gris1: #F3F3F3;
        gris2: #ececec;
        gris3: #D9D9D9;
        gris4: #C9C9C9;
        gris5: #A4A4A4;
        gris5.75: #666666;
        gris6: #444444;
*/

/*
* GENERAL
*/
html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    min-width: 940px;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333;

}

a {
    text-decoration: none;
    color: #940010;
}

a:hover {
    color: #333;
}

a.no-activo {
    pointer-events: none;
    cursor: default;
}

img {
    border: 0;
}

form label {
    box-sizing: border-box;
}

table.dataTable tbody tr:hover {
    background-color: #cccccc;
}

input[type="text"], input[type="password"] {
    -webkit-user-select: none;
    box-sizing: border-box;
    width: 132px;
    height: 26px;
    padding: 2px 6px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
}

select {
    padding: 2px 6px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
}

input[type="submit"], button, .boton {
    display: inline-block;
    box-sizing: border-box;
    height: 32px;
    padding: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    color: #fff;
    background-color: #940010;
    border-radius: 4px;
}

input[type="submit"]:hover, button:hover, .boton:hover {
    opacity: 0.7;
    cursor: pointer;
    color: #fff;
}

.boton.boton-pequeno, button.boton-pequeno {
    display: inline-block;
    box-sizing: border-box;
    height: 26px;
    padding: 4px 9px 5px 9px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    vertical-align: top;
}

.boton.inactivo, .boton-inactivo, button[disabled="disabled"], input[disabled="disabled"] {
    cursor: default;
    opacity: 0.4;
}

textarea {
    box-sizing: border-box;
    padding: 2px 6px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    vertical-align: top;
}

.elemento-icono {
    /* Image replacement */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*
* CONTENEDOR DE LA PÁGINA
*/

.contenedor-pagina {
    min-height: 100%;
    margin-bottom: -60px; /* #footer height */
}
.contenedor-pagina:after {
    height: 60px; /* #footer height */
    content: "";
    display: block;
}

/*
* HEADER
*/

#header {
    position: relative;
}

#header .logo-entidad {
    position: absolute;
    top: 24px;
    left: 24px;
    display: block;
    width: 56px;
    padding: 14px;
    border-radius: 50%;
    background-color: #940010;
}

#header h1 {
    margin: 0 auto;
    padding: 32px 0 8px 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
}

#header h1 a {
    color: #333;
}

#header h1 a:hover {
    opacity: 0.7;
}

#header h2 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    font-variant: small-caps;
}

#header .iconos-informacion {
    position: absolute;
    top: 0;
    right: 12px;
    width: 300px;
    height: 48px;
}

#header .iconos-informacion a {
    display: block;
    float: right;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    padding-top: 28px;
    margin-right: 12px;
    background-color: #444;
    border-radius: 0 0 8px 8px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}

#header .iconos-informacion a.tickets-resueltos {
    background: url(../img/header-tickets-resueltos.png) no-repeat 0 0 #72cd4b;
}

#header .iconos-informacion a.notas-amarillas {
    background: url(../img/header-post-it.png) no-repeat 0 0 #FF6A00;
}

#header .iconos-informacion a.tickets-resueltos {
    background: url(../img/header-tickets-resueltos.png) no-repeat 0 0 #72cd4b;
}

#header .iconos-informacion a.tickets-resueltos:hover {
    opacity: 0.7;
}

#header .iconos-informacion a.tickets-sin-leer {
    background: url(../img/header-tickets-sin-leer.png) no-repeat 0 0 #666;
}

#header .iconos-informacion a.tickets-sin-leer:hover {
    opacity: 0.7;
}

#header .iconos-informacion a.tickets-abiertos {
    background: url(../img/header-tickets-leidos.png) no-repeat 0 0 #d21b2f;
}

#header .iconos-informacion a.tickets-abiertos:hover {
    opacity: 0.7;
}

#header .iconos-informacion a.modificaciones {
    background: url(../img/header-modificaciones.png) no-repeat 0 0 #36abc4;
}

#header .iconos-informacion a.modificaciones:hover {
    opacity: 0.7;
}

#header .iconos-informacion a.alertas {
    padding-top: 0;
    background-color: #FABE28;
}

#header .iconos-informacion a.alertas span {
    display: block;
    box-sizing: border-box;
    width: 48px;
    height: 28px;
    background: url(../img/header-alertas.png) no-repeat 0 0;
}

#header .iconos-informacion a.alertas:hover {
    opacity: 0.7;
}

#header .alertas-servicios {
    display: inline-block;
    position: absolute;
    top: 58px;
    right: 24px;
    box-sizing: border-box;
    padding: 6px 9px 6px 28px;
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    background: url(../img/ico-servicios-blanco.png) no-repeat 6px center #72CD4B;
    background-size: 16px auto;
}

.usuario #header .alertas-servicios {
    top: 0;
    border-radius: 0 0 4px 4px;
}

#header .alertas-servicios.warning {
    background-color: #FABE28;
}

#header .alertas-servicios.unknown {
    background-color: #FA6828;
}

#header .alertas-servicios.critical {
    background-color: #B10212;
}

#header .alertas-servicios.down {
    background-color: #666666;
}

#header .alertas-servicios:hover {
    opacity: 0.7;
}

#header .alertas-servicios span {
    margin-left: 6px;
    padding: 1px 6px;
    font-size: 12px;
    line-height: 12px;
    color: #72CD4B;
    border-radius: 10px;
    background-color: #fff;
}

#header .alertas-servicios.warning span {
    color: #FABE28;
}

#header .alertas-servicios.unknown span {
    color: #FA6828;
}

#header .alertas-servicios.critical span {
    color: #B10212;
}

#header .alertas-servicios.down span {
    color: #666666;
}

#header .entorno {
    display: block;
    position: absolute;
    top: 92px;
    right: 24px;
    font-size: 13px;
    line-height: 14px;
}

#header .usuario {
    display: block;
    position: absolute;
    top: 110px;
    right: 24px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    text-decoration: underline;
    background: url(../img/header-user2.png) no-repeat 0 1px;
}

#header .usuario:hover {
    opacity: 0.7;
}

/*
* MENÚ Y FORMULARIO DE BÚSQUEDA
*/

#navbar {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 22px 0 0 0;
    padding: 0 190px 0 12px;
    background-color: #f3f3f3;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

#menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    content: "";
    clear: both;
    display: table;
}

#menu > li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

#menu li a {
    color: #444;
    font-size: 13px;
    line-height: 13px;
}

#menu > li > a {
    display: block;
    box-sizing: border-box;
    height: 34px;
    padding: 10px 12px 0 12px;
    text-transform: uppercase;
    font-weight: bold;
}

#menu > li:hover > a {
    background-color: #d9d9d9;
    color: #000;
}

#menu > li > ul {
    display: none;
}

#menu > li:hover > ul {
    display: block;
    position: absolute;
    top: 34px;
    left: 0;
    z-index: 50;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #d9d9d9;
    border-bottom: 2px solid #A4A4A4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#menu > li > ul li.separador {
    border-top: 1px solid #A4A4A4;
}

#menu > li > ul li a {
    display: block;
    width: 250px;
    padding: 7px 12px 7px 36px;
    line-height: 15px;
    color: #000;
    background-position: 9px 7px;
    background-repeat: no-repeat;
    background-size: 16px auto;
}

#menu > li > ul li a:hover {
    background-color: #c9c9c9;
}


/* Barra de busqueda de solicitudes*/
#navbar .search {
    position: absolute;
    top: 4px;
    right: 24px;
    margin: 0;
    padding: 0;
    width: 140px;
}

#navbar .search input[type="text"] {
    box-sizing: border-box;
    width: 100px;
    height: 26px;
    margin: 0 5px 0 0;
    font-size: 12px;
    line-height: 20px;
}

#navbar .search input[type="submit"] {
    display: block;
    float: right;
    margin: 1px 0 0 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 0;
    text-shadow: none;
    color: transparent;
    background: url(../img/nav-buscar.png) no-repeat 0 0;
}

#navbar .search input[type="submit"]:hover {
    opacity: 0.7;
}


/* Barra de busqueda de usuarios*/
#navbar .search_usuario {
    position: absolute;
    top: 4px;
    right: 175px;
    margin: 0;
    padding: 0;
    width: 140px;
}

#navbar .search_usuario input[type="text"] {
    box-sizing: border-box;
    width: 100px;
    height: 26px;
    margin: 0 5px 0 0;
    font-size: 12px;
    line-height: 20px;
}

#navbar .search_usuario input[type="submit"] {
    display: block;
    float: right;
    margin: 1px 0 0 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 0;
    text-shadow: none;
    color: transparent;
    background: url(../img/nav-buscar.png) no-repeat 0 0;
}

#navbar .search_usuario input[type="submit"]:hover {
    opacity: 0.7;
}




/*
* FOOTER
*/

#footer { /* [PENDIENTE] Fijar a la parte inferior */
    clear: both;
    box-sizing: border-box;
    height: 60px;
    padding: 12px 24px;
    background-color: #f3f3f3;
    border-top: 1px solid #D9D9D9;
}

#footer p {
    margin: 0;
    text-align: right;
    font-size: 12px;
    line-height: 16px;
}

/*
* CONTENIDO
*/

#contenido {
    padding: 24px 24px;
}

#contenido .header {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    padding-left: 52px;
}
#contenido .header h1 {
    margin: 0;
    padding: 10px 0 24px 24px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
}

#contenido .header .icono {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;
    border-radius: 8px;
    background-color: #f3f3f3;
    border: 2px solid #D9D9D9;
    line-height: 0;
    background-repeat: no-repeat;
    background-size: 36px auto;
    background-position: center center;
}

#contenido .header h1 span {
    font-weight: normal;
}

/* Diseño a dos columnas de 3/4 y 1/4 */
.columnas-75-25 {
    display: flex;
    justify-content: space-between;
}

.columnas-75-25 > div:nth-child(1) {
    box-sizing: border-box;
    width: 70%;
}

.columnas-75-25 > div:nth-child(2) {
    width: 25%;
}

/* Diseño a dos columnas de 3/4 y 1/4 */
.columnas-25-75 {
    display: flex;
    justify-content: space-between;
}

.columnas-25-75 > div:nth-child(1) {
    box-sizing: border-box;
    width: 25%;
}

.columnas-25-75 > div:nth-child(2) {
    width: 70%;
}

/* Diseño a tres columnas de 60 15 25 */
.columnas-65-15-20 {
    display: flex;
    justify-content: space-between;
}

.columnas-65-15-20 > div:nth-child(1) {
    box-sizing: border-box;
    width: 65%;
}

.columnas-65-15-20 > div:nth-child(2) {
    width: 15%;
    margin: 0px 15px 0px 20px;
    min-width: 220px;
}

.columnas-65-15-20 > div:nth-child(3) {
    width: 20%;
    min-width: 220px;
}

/* Diseño a dos columnas de 1/2 y 1/2) */
.columnas-50-50 {
    display: flex;
}

.columnas-50-50 > div:nth-child(1) {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-right: 2.5%;
}

.columnas-50-50 > div:nth-child(2) {
    float: right;
    box-sizing: border-box;
    width: 50%;
    padding-left: 2.5%;
}

/* Diseño a dos columnas de 1/2 y 1/2) */
.columnas-17-33-17-33 {
    display: flex;
    justify-content: space-between;
}

.columnas-17-33-17-33 > div:nth-child(1) {
    box-sizing: border-box;
    width: 17%;
}

.columnas-17-33-17-33 > div:nth-child(2) {
    width: 33%;
}

.columnas-17-33-17-33 > div:nth-child(3) {
    width: 17%;
}
.columnas-17-33-17-33 > div:nth-child(4) {
    width: 33%;
}

/*
* IMPRESIÓN
*/
@media print {

    div .apartado-edicion {
        page-break-inside: avoid;
    }

    #header .logo-ayuntamiento {
        -webkit-print-color-adjust: exact;
        width: 30px;
        padding: 10px;
    }

    #header h1 {
        font-size: 30px;
        line-height: 30px;
    }

    #header h2 {
        font-size: 14px;
        line-height: 14px;
    }

    #header .iconos-informacion, #header .entorno, #header .usuario {
        display: none;
    }

    .boton {
        display: none;
    }

    #navbar {
        display: none;
    }

    #contenido .header {
        padding: 0;
    }

    #contenido .header span {
        display: none;
    }

    #contenido .header h1 {
        padding: 0;
        font-size: 24px;
        line-height: 30px;
    }

}

/*
* VENTANA MODAL 
*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.formulario-edicion {
    margin: 0;
}

.modal-contenido {
    overflow: hidden;
    width: 80%;
    margin: 5% auto 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #fefefe;
}

.modal-pequena .modal-contenido {
    width: 50%;

}

.modal-contenido > .modal-cerrar {
    color: #FFFFFF;
    margin: 4px;
    padding: 5px 5px 5px 5px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #b10212;
    border: 0.5px solid #999999;
}

.modal-contenido > .modal-cerrar:hover, .modal-contenido > .modal-cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-contenido h3 {
    margin: 0;
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    background-color: #D9D9D9;
    border: 2px solid #999999;
    border-radius: 4px;
    /*border-bottom: 2px solid #D9D9D9;*/
}

.modal-contenido .info {
    padding: 9px 9px 9px 47px;
    font-size: 13px;
    line-height: 16px;
    background: url(../img/modal-informacion.png) no-repeat 12px center #F3F3F3;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.modal-contenido table {
    width: 100%;
    margin: 12px 0 0 0;
    padding: 0;
    font-size: 13px;
    line-height: 16px;
    border: 0;
    color: #000;
}

.modal-contenido table thead tr {
    background-color: #333;
}

.modal-contenido table thead tr th {
    padding: 9px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    color: #fff;
    border-bottom: 6px solid #fff;
}

.modal-contenido table tbody > tr {
    height: 100%;
    background-color: #D9D9D9;
}

.modal-contenido table tbody > tr:nth-child(even) {
    background-color: #f3f3f3;
}

.modal-contenido table tbody > tr:hover {
    background-color: #C9C9C9;
}

.modal-contenido table tbody > tr td {
    box-sizing: border-box;
    max-width: 150px;
    height: 100%;

    word-wrap: break-word;
    text-align: left;
    vertical-align: top;
}

.modal-pequena .formulario-edicion fieldset > div > div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
}

.modal-pequena .formulario-edicion fieldset > div > div label {
    box-sizing: border-box;
    width: 40%;
}

.modal-pequena .formulario-edicion fieldset > div > div textarea, .modal-pequena .formulario-edicion fieldset > div > div input[type="text"] {
    box-sizing: border-box;
    width: 60%;
}

.modal-pequena .formulario-edicion fieldset input[type="submit"] {
/*    float: right; */
/*    margin-top: 12px; */
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/*
* MODAL BUSQUEDA DE HARDWARE
*/
#modal-buscarhardware {
}

#modal-buscarhardware .contenedor {
    padding-bottom: 24px;
}

#modal-buscarhardware #formbusquedahardware {
    margin: 24px auto 12px auto;
}

#modal-buscarhardware #formbusquedahardware input {
    width: 250px;
}

#modal-buscarhardware .resultados {
    max-height: 400px;
    overflow-y: auto;
}

#modal-buscarhardware .resultados tbody tr td:hover {
    cursor: pointer;
}

#modal-buscarhardware .mensaje {
    margin: 24px auto 24px auto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


/*
* VENTANA MODAL - CONFIRMACIÓN
*/
#modal_confirmacion {
}

#modal_confirmacion .modal-contenido {
    width: 300px;
    margin-top: 20%;
}

#modal_confirmacion .modal-contenido .contenedor {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

#modal_confirmacion .modal-contenido .botones {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 18px;
}

#modal_confirmacion .modal-contenido .botones > * {
    margin: 0 12px;
}

/*
* MODAL BÚSQUEDA DE USUARIOS
*/
#modal-buscarafectado {
}

#modal-buscarafectado .contenedor {
    padding-bottom: 24px;
}

#modal-buscarafectado #formbusquedausuario {
    margin: 24px auto 12px auto;
}

#modal-buscarafectado #formbusquedausuario input {
    width: 250px;
}

#modal-buscarafectado .resultados {
    max-height: 400px;
    overflow-y: auto;
}

#modal-buscarafectado .resultados tbody tr td:hover {
    cursor: pointer;
}

#modal-buscarafectado .mensaje {
    margin: 24px auto 24px auto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/*
* MODAL BÚSQUEDA DE USUARIOS
*/
#modal-confirmarafectado {
}

#modal-confirmarafectado .contenedor {
    padding-bottom: 24px;
}

#modal-confirmarafectado #formbusquedausuario {
    margin: 24px auto 12px auto;
}

#modal-confirmarafectado #formbusquedausuario input {
    width: 250px;
}

#modal-confirmarafectado .resultados {
    max-height: 400px;
    overflow-y: auto;
}

#modal-confirmarafectado .resultados tbody tr td:hover {
    cursor: pointer;
}

#modal-confirmarafectado .mensaje {
    margin: 24px auto 24px auto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


/*
* MODAL CONFIRMACION DE USUARIO SELECCIONADO
*/
#modal-buscarservicio {
}

#modal-buscarservicio .contenedor {
    padding-bottom: 24px;
}

#modal-buscarservicio #formbusquedaservicio {
    margin: 24px auto 12px auto;
}

#modal-buscarservicio #formbusquedaservicio input {
    width: 250px;
}

#modal-buscarservicio .resultados {
    max-height: 400px;
    overflow-y: auto;
}

#modal-buscarservicio .resultados tbody tr td:hover {
    cursor: pointer;
}

#modal-buscarservicio .mensaje {
    margin: 24px auto 24px auto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/*
* MODAL CONFIRMACION DE USUARIO SELECCIONADO
*/
#modal-buscardetalleservicio {
}

#modal-buscardetalleservicio .contenedor {
    padding-bottom: 24px;
}

#modal-buscardetalleservicio #formbusquedadetalleservicio {
    margin: 24px auto 12px auto;
}

#modal-buscardetalleservicio #formbusquedadetalleservicio input {
    width: 250px;
}

#modal-buscardetalleservicio .resultados {
    max-height: 400px;
    overflow-y: auto;
}

#modal-buscardetalleservicio .resultados tbody tr td:hover {
    cursor: pointer;
}

#modal-buscardetalleservicio .mensaje {
    margin: 24px auto 24px auto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/*
* MODAL CONFIRMACION DE SERVICIO SELECCIONADO PARA ACCESO
*/
#modal-buscarservicioacceso {
}

#modal-buscarservicioacceso .contenedor {
    padding-bottom: 24px;
}

#modal-buscarservicioacceso #formbusquedaservicioacceso {
    margin: 24px auto 12px auto;
}

#modal-buscarservicioacceso #formbusquedaservicioacceso input {
    width: 250px;
}

#modal-buscarservicioacceso .resultados {
    max-height: 400px;
    overflow-y: auto;
}

#modal-buscarservicioacceso .resultados tbody tr td:hover {
    cursor: pointer;
}

#modal-buscarservicioacceso .mensaje {
    margin: 24px auto 24px auto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/*
* OTROS
*/
/* Sustitución de texto por imagen */
.image-replacement {
    width: 300px;
    height: 75px;
    background: url(test.png);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}



/*
    PAra los cargadores de ficheros
*/

.upload {
    display: none;
}

.uploader {
    border: 1px solid #ccc;
    width: 300px;
    position: relative;
    height: 30px;
    display: flex;
}

.uploader .input-value{
    width: 250px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploader label {
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    background: url(../img/ico-contenido_upload.png) no-repeat center;
    background-size: 24px 24px;
}

#estadosimulacion {
    cursor: pointer;
    margin: 0;
    width: 40px;
    height: 40px;
    right: 0;
    background-size: 40px 40px;
    text-align: center;
}

.stopped {
    background: url(../img/sim-stopped.gif) no-repeat center;
    
}

.running {
    background: url(../img/sim-running.gif) no-repeat center;
}

.paused {
    background: url(../img/sim-paused.gif) no-repeat center;
}
/*
* LOADING SPINNER
*/


.loader {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    left: 0px;
    top: 0px;

}


.loader-wheel {
    width: 100%;
    position: fixed;
    display: block;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/**
 *  Botones con imagen
 */

.play {
    background: url("/SiSToFa/img/play-fill-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.pause {
    background: url("/SiSToFa/img/pause-fill-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.stop {
    background: url("/SiSToFa/img/stop-fill-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.restart {
    background: url("/SiSToFa/img/restart-line-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.verresultados {
    background: url("/SiSToFa/img/line-chart-fill-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.ver {
    background: url("/SiSToFa/img/eye-line-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.compare {
    background: url("/SiSToFa/img/file-search-line-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.edit {
    background: url("/SiSToFa/img/edit-2-line-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.delete {
    background: url("/SiSToFa/img/delete-bin-line-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.clone {
    background: url("/SiSToFa/img/file-copy-2-line-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

.lock {
    background: url("/SiSToFa/img/locker-white.png") no-repeat #940010;
    background-size: 20px 20px;
    background-position: center center;
    width: 50px;
    height: 32px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


