/*
* FILTRO
*/
#panelfiltro {
    margin-top: 24px;
    display: none;
    font-size: 13px;
    line-height: 16px;
}

#panelfiltro fieldset {
    position: relative;
    padding: 0px 24px;
    background-color: #f3f3f3;
    border: 1px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
    border-radius: 4px;
}

#panelfiltro fieldset legend {		
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #D9D9D9;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
}

#panelfiltro fieldset > div > div {
    margin: 12px 0;
}

#panelfiltro fieldset label {
    display: inline-block;
    min-width: 120px;
    padding-right: 12px;
    text-align: right;
}

#panelfiltro fieldset input[type=text] {
    width: 200px;
    font-size: 13px;
}

#panelfiltro fieldset button[type=submit] {
    display: inline-block;
    height: auto;
    margin-left: 121px;
    padding: 6px 9px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}

#panelfiltro fieldset button[type=submit]:hover {
    opacity: 0.7;
    cursor: pointer;
}

#panelfiltro fieldset .borrar {
    position: absolute;
    bottom: 12px;
    right: 24px;
    display: inline-block;
    margin-left: 112px;
    padding: 6px 9px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #444;
    border: 0;
    border-radius: 4px;
}

#panelfiltro fieldset .borrar:hover {
    opacity: 0.7;
}

/*
* BOTONERA
*/
.botonera {
    margin-top: 12px;
    text-align: right;
}

.botonera > a, .botonera > button, .botonera > div {
    margin-left: 12px;
}

.botonera > a.imprimir {
    padding-left: 32px;
    background: url(../img/botones/imprimir.png) no-repeat 8px 8px #940010;
}

.botonera > a.crear {
    padding-left: 32px;
    background: url(../img/botones/crear.png) no-repeat 8px 8px #940010;
}

.botonera > a#botonfiltros {
    float: left;
    margin-left: 0;
    padding-left: 32px;
    background: url(../img/botones/filtros.png) no-repeat 8px 8px #940010;
}

.botonera .select {
    display: inline-block;
    box-sizing: border-box;
    height: 32px;
    margin-left: 12px;
    padding: 5px 9px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    background-color: #D9D9D9;
    border-radius: 4px;
}

.botonera .select select {
    margin: 0 3px 0 9px;
    padding: 0 3px 2px 3px;
    text-transform: none;
    border: 0;
}

.botonera-edicion {
    margin: 0;
}

/* Añade una separación al botón VOLVER */
.botonera-edicion > a:last-child {
    margin-left: 48px;
}

/*
* LISTADO
*/
table.listado {
    width: 100%;
    margin: 12px 0 0 0;
    padding: 0;
    font-size: 13px;
    line-height: 16px;
    border: 0;
    color: #000;
}

.listado thead tr {
    background-color: #333;
}

.listado thead tr th {
    padding: 8px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    color: #fff;
    border-bottom: 6px solid #fff;
}

.listado thead tr th a {
    color: #fff;
}

.listado thead tr th a.activo {
    text-decoration: underline;
}

.listado thead tr th a:hover {
    opacity: 0.5;
}

.listado > tbody > tr {
    height: 100%;
    background-color: #D9D9D9;
}

.listado > tbody > tr:nth-child(even) {
    background-color: #f3f3f3;
}

.listado > tbody > tr:hover {
    background-color: #C0C0C0;
}


.listado > tbody > tr > td > a {
    color: #000000;
}

.listado.editable > tbody > tr:hover {
    background-color: #C9C9C9;
}

.listado > tbody > tr td {
    box-sizing: border-box;
    max-width: 150px;
    height: 100%;
    padding: 6px;
    word-wrap: break-word;
    text-align: left;
    vertical-align: top;
}

.listado.editable > tbody > tr td {
    padding: 0;
}

.listado.editable > tbody > tr > td > a, .listado > tbody > tr > td > span {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 12px;
    color: #000;
}

.listado.editable > tbody > tr a:hover {
    color: #000;
}

.listado tfoot > tr > td {
    border-top: 6px solid #fff;
}

.listado tfoot table {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #D9D9D9;
}

.listado tfoot table tr td {
    width: 33%;
    padding: 12px;				
}

.listado tfoot table tr td:nth-child(2) {
    text-align: center;
}

.listado tfoot table tr td:nth-child(3) {
    text-align: right;
}

.listado tfoot table tr td span, .listado tfoot table tr td a {
    padding: 0 3px;
}

.listado tfoot table tr td .activo {
    font-weight: bold;
}

.listado > tbody > tr > td > span.icon-check {
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px auto 0 auto;
    padding: 0;
    font-size: 18px;			
    line-height: 1px;
    text-align: center;
    border: 1px solid #444;
    border-radius: 2px;
    font-family: EmojiSymbols;
}

/* Listado con enlaces a ventana modal */
.listado.enlacemodal > tbody > tr td {
    height: auto;
    padding: 12px;
}

.listado.enlacemodal.editable > tbody > tr td:hover {
    cursor: pointer;
}

.listado.enlacemodal > tbody > tr > td > span:not(.icon-check) {
    display: inline;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 0;
    color: #000;
}

/* Listado con columna de acciones */
.listado.acciones > tbody > tr td {
    height: auto;
    padding: 12px;
}

.listado.acciones > tbody > tr > td > span {
    display: inline;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 0;
    color: #000;
}

/* LISTADO DE ALERTAS DE SERVICIOS */
.listado > tbody > .alertas-servicios {
    background-color: #72CD4B;
}

.listado > tbody > .alertas-servicios:nth-child(even) {
    background-color: #ADE081;
}

.listado > tbody > .alertas-servicios:hover {
    opacity: 0.7;
}

.listado > tbody > .alertas-servicios.warning {
    background-color: #FABE28;
}

.listado > tbody > .alertas-servicios.warning:nth-child(even) {
    background-color: #FBD168;
}

.listado > tbody > .alertas-servicios.unknown {
    background-color: #FA6828;
}

.listado > tbody > .alertas-servicios.unknown:nth-child(even) {
    background-color: #FB9568;
}

.listado > tbody > .alertas-servicios.critical {
    background-color: #940010;
}

.listado > tbody > .alertas-servicios.critical:nth-child(even) {
    background-color: #B10212;
}

.listado > tbody > .alertas-servicios.critical > td > span {
    color: #FFF;
}

.listado > tbody > .alertas-servicios.down {
    background-color: #444444;
}

.listado > tbody > .alertas-servicios.down:nth-child(even) {
    background-color: #666666;
}

.listado > tbody > .alertas-servicios.down > td > span {
    color: #FFF;
}


/*
* EDICIÓN: FORMULARIOS, TABLAS Y APARTADOS
*/
.formulario-edicion {
    margin: 0px 0px 0px 0px;
}

.formulario-edicion form {
    margin: 0 auto 0 auto;
    font-size: 13px;
    line-height: 16px;
}

.modal.formulario-edicion form {
    clear: both;
    margin: 0;
    margin-top: 12px;
    padding-top: 0;
}

.formulario-edicion fieldset {
    padding: 0px 24px 12px 24px;
    background-color: #f3f3f3;
    border: 1px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
    border-radius: 0 0 4px 4px;
}

.modal.formulario-edicion fieldset {
    /*padding: 0;
    background: none;
    border: 0;
    border-radius: 0; */

    padding: 0px 24px 12px 24px;
    background-color: #f3f3f3;
    border: 1px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
    border-radius: 0 0 4px 4px;
}

.formulario-edicion fieldset legend {		
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    background-color: #D9D9D9;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
}

.formulario-edicion fieldset > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    padding-top: 6px;
}

.modal.formulario-edicion  fieldset > div {
    width: 100%;
}


.formulario-edicion fieldset > div hr {
    clear: both;
    display: block;
    width: 100%;
    height: 1px;
    margin: 0 0 12px 0;
    border: 0;
    background-color: #D9D9D9;
}

.formulario-edicion fieldset > div > div {

    width: 46%;
    min-height: 26px;
    margin: 0 0 8px 0;
}

.modal.formulario-edicion fieldset > div > div {

}

.formulario-edicion label {
    display: inline-block;
    width: 38%;
    padding-right: 18px;
    padding-top: 5px;
    text-align: right;
    vertical-align: top;
}

.modal.formulario-edicion label {
    padding-right: 9px;
}

.formulario-edicion label.required {
    font-weight: bold;
}

.formulario-edicion input[type=text] {
    width: 58%;
    font-size: 13px;
    vertical-align: top;
}


.formulario-edicion [type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
.formulario-edicion [type="file"] + label {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding-left: 2rem 4rem;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 32px;
    padding: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    color: #fff;
    text-align: center;
    background-color: #940010;
    border-radius: 4px;
    vertical-align: middle;
}
  
.formulario-edicion [type="file"]:focus + label,
[type="file"] + label:hover {
    opacity: 0.7;
}
  
.formulario-edicion [type="file"]:focus + label {
  outline: 1px dotted #000;
}



.formulario-edicion input[disabled=disabled] {
    background-color: #ececec;
    color: #444;
    border: 1px solid #C9C9C9;
}

.modal.formulario-edicion input[type=text] {
    width: 55%;
    font-size: 13px;
    vertical-align: top;
}



.formulario-edicion textarea {
    width: 58%;
    height: 65px;
}

.modal.formulario-edicion textarea {
    width: 55%;
    font-size: 13px;
    vertical-align: top;
}

.formulario-edicion input[type=checkbox] {
    margin: 0;
    margin-top: 7px;
}

.formulario-edicion select {
    padding: 2px 3px;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}

.formulario-edicion .enlace {
    padding-left: 12px;
}

.formulario-edicion .ficha-hardware {
    padding-left: 30px;
    background-image: url(/sisit/web/img/ico-servidores.png);
    background-position: 7px 2px;
    background-repeat: no-repeat;
    background-size: 16px auto;
}

.formulario-edicion .ficha-hardware:hover {
    color: #940010;
    opacity: 0.7;
}

.formulario-edicion fieldset > div > div:last-of-type {
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: right;
}

.formulario-edicion button {
    display: inline-block;
    box-sizing: border-box;
    height: 32px;	
    margin-top: 9px;		
    margin-bottom: 6px;
    margin-left: 0;
    padding: 9px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #940010;
    border: 0;
    border-radius: 4px;
}

.formulario-edicion button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.formulario-edicion fieldset > div > div.columnas1 {
    width: 100%;

}

.formulario-edicion fieldset > div > div.columnas1 label {
    width: 17%;
}


.formulario-edicion fieldset > div > div.columnas1 input, .formulario-edicion fieldset > div > div.columnas1 textarea {
    width: 65%;
}

.formulario-edicion fieldset > div > div.columnas1 select {
    min-width: 65%;
}

.formulario-edicion.inactivo {
    opacity: 0.5;
}

.formulario-tabla{}

.formulario-tabla table {
    width: 100%;
    margin: 12px auto;
}

.formulario-tabla table th {
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #C9C9C9;
}

.formulario-tabla table th, .formulario-tabla table td {
    padding: 3px;
}

.formulario-tabla table tbody tr:hover {
    background-color: #D9D9D9; 
}

.formulario-tabla fieldset label {
    padding-top: 0;
    text-align: left;
    width: auto;
}

.formulario-tabla fieldset div {
    width: auto;
}

.formulario-tabla fieldset button[type=submit] {
    float: right;
}

.apartado-edicion {
    position: relative;
    margin: 48px auto 36px auto;
    padding: 36px 24px 12px 24px;
    font-size: 13px;
    line-height: 16px;
    background-color: #f3f3f3;
    border: 1px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
    border-radius: 0 0 4px 4px;
}

.apartado-edicion.inactivo {
    opacity: 0.5;
}

.apartado-edicion h2 {
    position: absolute;
    top: -34px;
    left: 24px;
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    background-color: #D9D9D9;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
}

.apartado-edicion .listado {
    width: auto;
    min-width: 800px;
    margin: 0 auto;
}

.apartado-edicion .listado thead tr th {
    border-bottom: 6px solid #f3f3f3;
}

.apartado-edicion-tabla	.apartado-overflow {
    position: relative;
    padding-top: 46px;
}

.apartado-edicion-tabla	.apartado-overflow .listado-cabecera {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.apartado-edicion-tabla	.apartado-overflow .contenedor {
    position: relative;
    overflow-y: scroll;
    max-height: 350px;
}

.apartado-edicion-tabla	.apartado-overflow .contenedor .listado thead tr th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}

.apartado-edicion-tabla	table.listado {
    clear: both;
    width: 100%;
    margin-bottom: 6px;
}

.apartado-edicion-tabla > button {
    float: right;
    margin: 0 0 12px 0;
}

.apartado-edicion-tabla .listado thead tr th {
    border-bottom: 6px solid #f3f3f3;
}

.apartado-edicion-tabla > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    padding-top: 6px;
}

.apartado-edicion-tabla > div > div {

    width: 46%;
    min-height: 26px;
    margin: 0 0 12px 0;
}

.apartado-edicion-tabla > div > div.columnas1 {
    width: 100%;
    margin: 0px 0px 12px 0px;
}

.apartado-edicion-tabla > div > div.columnas1 label {
    width: 17%;
}

.apartado-edicion-tabla > div > div.columnas1 input, .formulario-edicion fieldset > div > div.columnas1 textarea {
    width: 65%;
}

.apartado-edicion-tabla > div > div.columnas1 select {
    min-width: 65%;
}


/*
* LISTADO DE INFORMACIÓN
*/
.listado-informacion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.listado-informacion li {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0 0 12px 0;
    font-size: 14px;
    line-height: 18px;
}

.listado-informacion li .campo {
    box-sizing: border-box;
    width: 20%;
    padding-right: 18px;
    text-align: right;
}

.listado-informacion li .valor {
    box-sizing: border-box;
    width: auto;
    font-weight: bold;
}

/* 2 columnas */

.listado-informacion.listado-columnas2 li {
    width: 40%;
}

.listado-informacion.listado-columnas2 li.columna1 {
    width: 90%;
}

.listado-informacion.listado-columnas2 li .campo {
    width: 40%;
}

.listado-informacion.listado-columnas2 li.columna1 .campo {
    width: 17.8%;
}

.listado-informacion li .valor {
    width: 60%;
}

.listado-informacion li .valor_completo {
    width: 100%;
}
.listado-informacion.listado-columnas2 li.columna1 .valor {
    width: auto;
}

/*
* PESTAÑAS
*/
.apartado-tabs {
    margin: 48px auto 36px auto;
}

.apartado-tabs .listado-tabs {
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.apartado-tabs .listado-tabs li {
    display: inline;
    float: left;
    margin: 0 12px 0 0;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #D9D9D9;
    border: 1px solid #C9C9C9;
    border-radius: 4px 4px 0 0;
    list-style: none;
}

.apartado-tabs .listado-tabs li:hover {
    background-color: #C9C9C9;
    cursor: pointer;
}

.apartado-tabs .listado-tabs li.selected {
    color: #000;
    background-color: #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.apartado-tabs .tabs {
    position: relative;
    z-index: 1;
    margin-top: -1px;
    padding: 12px 24px 12px 24px;
    font-size: 13px;
    line-height: 16px;
    background-color: #f3f3f3;
    border: 1px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
    border-radius: 0 0 4px 4px;
}

.apartado-tabs .tabs.inactivo {
    opacity: 0.5;
}

.apartado-tabs .tabs > div {
    display: none;
}

.apartado-tabs .tabs > div.selected {
    display: block;
}

/*
* IMPRESIÓN LISTADOS
*/
@media print {

    .botonera {
        display: none;
    }

    .listado thead tr th {
        padding: 6px;
        border-bottom: 0;
    }

    .listado thead tr th a {
        color: #000;
    }

    .listado > tbody > tr > td {
        padding: 6px;
        border-top: 1px solid #666;
    }

    .listado tfoot table tr td:nth-child(2) {
        text-align: right;
    }

    .listado tfoot table tr td:nth-child(2) a {
        display: none;
    }

    .listado tfoot table tr td:nth-child(3) {
        display: none;
    }

}