
.box {
    margin: auto;
    width: 800px;
    height: 60px;
}

.box2 {
    padding: 20px;
    width: 600px;
    height: 60px;
}

.container-1 input#search {
    width: 80%;
    min-width: 200px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid black;
    font-size: 15pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: auto;

}

.container-1 .icon {
    margin-left: -35px;
    margin-right: 17px;
    color: #4f5b66;
    font-size: 20pt;
    opacity: 0.5;
}

.tablas {
    font-size: 1.2rem;
    min-height: 20vh;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 30px;
    justify-content: center;
    display: flex;
    
}

#contenido {
    height: auto;
    align-content: center;
}

.a_busqueda_sisit {
    font-size: 18px;
    line-height: 1.33;
    color: #1a0dab;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.cite_busqueda_sisit{
     font-family: 'Open Sans', sans-serif;
   font-size: 14px;
    padding-top: 1px;
    line-height: 1.43;
    color: #006621;
    font-style: normal;
}
.p_busqueda_sisit{
   line-height: 1.54;
    word-wrap: break-word;
    color: #545454;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}


#contenido #logo {
    width: 450px;

}

#contenido2 {
    height: 100px;
}

.resultados {
    margin-left: 100px;
    font-size: 1.2rem;
    min-height: 20vh;
    padding: 20px 20px 20px 20px;
    line-height: 30px;
}

.resultados-contenido {
    /*
    border: 1px solid black;
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 11px 4px -6px rgba(0, 0, 0, 0.37);
    */
}

.tabla {
    padding: 10px;
}

.tabla a{
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    color: black;
    line-height: 24px;
    background-position: 9px 7px;
    background-repeat: no-repeat;
    background-size: 24px auto;
    padding: 7px 12px 7px 40px;
    display: block;
}

.tabla p{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    color: black;
    padding: 0px;
    margin: 0px;
}
