{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "base.html.twig" %}

{% block title %}
    {{ apartado["texto"] }}
    {{ parent() }} 
{% endblock %}

{% block estilos %}
    {{ parent() }} 
    <link rel="stylesheet" href="{{ asset('css/sstf-search.css') }}">
{% endblock %}

{% block contenido %}
    <div style="height: auto;">
        <center>
            <img id="logo" src="{{ asset('img/logotipo-EPSC.png') }}" style="width: 450px;">
        </center>
    </div>
    <div class="tablas">
        <div class="tabla">
            <table>
                <tr>
                    <td style="text-align: center;" colspan="2">
                        <p><h2>Grado en Ingeniería Informática.<br> Mención en Computadores.</h2></p>
                        <p>Trabajo Fin de Grado.</p>
                    </td>
                </tr>
                <tr>
                    <td>Directores.</td>
                    <td>Dr. D. Jose Manuel Palomares.<br>
                        Dr. D. Francisco León García.
                    </td>
                </tr>
                <tr>
                    <td> Autor.</td>
                    <td>Antonio Gómez López
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2">
                        <p>Escuela Politencia Superior. <br>Universidad de Córdoba</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
            <div style="margin: auto;width: 50%; text-align: center;">
               Licencia:
               <pre>     
Copyright (c) 2022 Departamento de Ingeniería Electrónica y de Computadores. 
                        Universidad de Córdoba
  
SiSToFa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
 any later version.

 Sisit is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with SiSToFa.  If not, see <https://www.gnu.org/licenses/>.

For more information, please contact with Universidad de Córdoba 
at this address: infoeps@uco.es
            </pre>
            </div>
{% endblock %}

