{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "base.html.twig" %}

{% block title %}
    {{ apartado["texto"] }}
    {{ parent() }} 
{% endblock %}

{% block estilos %}
    {{ parent() }} 
    <link rel="stylesheet" href="{{ asset('css/sstf-search.css') }}">
{% endblock %}

{% block contenido %}
    <div style="height: auto;">
        <center>
            <h1>Manual de usuario de la aplicación.</h1>
            <hr>
        </center>
    </div>
        
            {{ texto | raw }}
      
{% endblock %}

