{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% if app.user.nivel > 1 %}

    {% if app.environment == 'dev' %}
        {% set entorno = 'Desarrollo' %}
    {% elseif app.environment == 'prod' %}
        {% set entorno = 'Producción' %}
    {% else %}
        {% set entorno = app.environment %}
    {% endif %}
    
    <span class="entorno">Entorno: <b>{{entorno}}</b></span>
{% endif %}

<a href="{{ path('misdatos') }}" title="Mis datos"  class="usuario">{{usuario}}</a>
