{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

<div id="header">
    <img class="logo-entidad" src="{{asset('img/LogoUco.png')}}" alt="Universidad de Córdoba">
    <h1><a href="#">SiSToFa</a></h1>
    <h2>Simulador de Sistemas Tolerantes a Fallos</h2>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% block informacioncabecera %}
            {{render(controller('App\\Controller\\AplicacionController::cabeceraInformacionAction'))}}
        {% endblock %}
    {% endif %}
</div>