{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "base.html.twig" %}

{% if cabecera.nolistado %}
    {% set tituloContenidoHeader = cabecera.texto %}
{% else %}
    {% if app.request.get('id') %}
        {% set tituloContenidoHeader = listado.texto ~ ': '~ cabecera.texto %}
    {% else %}
        {% if apartado.crear is defined and apartado.crear == false %}
            {% set tituloContenidoHeader = listado.texto %}
        {% else %}
            {% set tituloContenidoHeader = listado.texto~': crear ' %}
        {% endif %}
    {% endif %}
{% endif %}
    


{% block title %}
    {{ parent() }} 
{% endblock %}

{% block contenido %}

    {% block botonera %}
        {# Nombre de ruta (por defecto será el slug) #}
        {% set redirectPath = app.request.get('slug') %}
        {% if app.request.get('slug2') %}
            {% set redirectPath = redirectPath~'_'~app.request.get('slug2') %}
        {% endif %}

        <div class="botonera botonera-edicion">
            {# Los botones se muestran si tiene permisos de escritura y está editanto un elemento #}
            {% if tienePermisos == 'escritura' and app.request.get('id') %}
                {% if definicion['crear'] is defined and definicion['crear'] == true %}
                    <a class="boton" title="Crear" href="{{ path(redirectPath~'_crear') }}">Crear</a>
                {% endif %}
                {% if definicion['editar'] is defined and definicion['editar'] == true %}
                    <a class="boton" title="Editar" href="{{ path(redirectPath~'_editar' , { 'id' : app.request.get('id')}) }}">Editar</a>
                {% endif %}
                {% if definicion['clonar'] is defined and definicion['clonar'] == true %}
                    <button title="Clonar" onclick="modalConfirmacion('<b>¿Realizar copia de {{ definicion['nombre'] }}?</b>', '{{ path(redirectPath~'_duplicar', { 'id' : app.request.get('id')}) }}')">Duplicar</button>
                {% endif %}
                {% if definicion['eliminar'] is defined and definicion['eliminar'] == true %}
                <button title="Eliminar" onclick="modalConfirmacion('<b>¿Eliminar {{ definicion['nombre'] }}?</b>', '{{ path(redirectPath~'_eliminar', { 'id' : app.request.get('id')}) }}')">Eliminar</button>
                {% endif %}
            
            {% endif %}

            
        </div> {# .botonera #}
    {% endblock %} {# block botonera #}

    {% block edicion %}

        <div class="formulario-edicion">
            {{ form_start(formulario) }}
                <fieldset>
                    <legend>Datos principales</legend>
                    {{ form_widget(formulario) }}
                </fieldset>
            {{ form_end(formulario) }}
        </div>

        {% block contenidoextendido %}
        {% endblock %}

    {% endblock %} {# block edicion #}

{% endblock %} {# block contenido #}