{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "base.html.twig" %}

{% block title %}
    {{ apartado["texto"] }}
    {{ parent() }} 
{% endblock %}

{% block estilos %}
    {{ parent() }} 
    <link rel="stylesheet" href="{{ asset('css/sstf-search.css') }}">
{% endblock %}

{% block contenido %}
    <div style="height: auto;">
        <center>
            <img id="logo" src="{{ asset('img/logotipo-EPSC.png') }}" style="width: 25%;">
        </center>
    </div>
        <div class="tablas">
            <div class="tabla">
                <table>
                    <tr>
                        <th>Ayuda/Información &uacute;til<hr></th>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ path("ayuda") }}" style="background-image: url({{ asset('img/ico-help.png') }})">Manual de Usuario</a>
                            <p>Documentación y manual de usuario de la aplicación.</p>
                        </td>
                    </tr>
                    <tr>
                        <td><a  href="{{ path("misdatos") }}" style="background-image: url({{ asset('img/ico-usuarios.png') }})">Mis datos</a>
                            <p>Consulta la información personal de usuario conectado al sistema. Desde esta opci&oacute;n se permite el cambio de contraseña.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tabla">
                <table>
                    <tr>
                        <th>Acciones<hr></th>
                    </tr>
                    <tr>
                        <td><a style="background-image: url({{ asset('img/ico-sistemas.png') }})" href="{{ path("listado_missistemas") }}">Ver mis sistemas.</a>
                            <p>Muestra el listado de sistemas cuyo propietario es el usuario.</p></td>
                    </tr>
                    <tr>
                        <td><a style="background-image: url({{ asset('img/ico-estadisticas.png') }})" href="{{ path("listado_missimulaciones") }}">Ver mis simulaciones.</a>
                            <p>Muestra el listado de simulaciones cuyo propietario es el usuario</p></td>
                    </tr>
                    <tr>
                        <td><a style="background-image: url({{ asset('img/ico-estadisticas.png') }})" href="{{ path("listado_misejecuciones") }}">Ver el resultado de las simulaciones.</a>
                            <p>Una vez ejecutadas las simulaciones, se pueden consultar y descargar los datos de la simulacion para su estudio o tratamiento en herramientas externas.</p></td>
                    </tr>
                </table>
            </div>
        </div>
 
{% endblock %}

