{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "base.html.twig" %}

{% block title %}
    {{ cabecera.texto }}
    {{ parent() }} 
{% endblock %}

{% block contenido %}  
   
    
    <!-- Insert this where you want the table to appear -->
    <div id="presidents">Loading...</div>

    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        
        function eliminaResultados(id){
            
            if (confirm('¿Esta seguro que desea eliminar esta ejecución?')) {
                // Delete it!
                console.log('Elimina la ejecucion' + id);
                document.location="{{path('ejecuciones_eliminar',{"id":''}) }}/" + id;
            } else {
                // Do nothing!
                
            }

        }
       
        $(function () {
            $('#presidents').initDataTables({{ datatable_settings(datatable)}},{ searching: true, 
                 language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                buttons: [ 'excel' ],
                dom: 'Bfrtip' } );

        });
    </script>

{% endblock %}