{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

<div id="navbar">
    <ul id="menu">
        <li>
            <a href="{{ path("inicio") }}">Inicio</a>
        </li>

        {% for item in menu %}            
            <li>
                <a href="#" class="no-activo">{{ item["nombre"] }}</a>
                <ul>
                {% for opcion in item["opciones"] %}
                    {# Muestra separador si no es la primera opción del desplegable #}
                    <li{% if opcion["nuevo_bloque"]==1 and loop.index > 1 %} class="separador"{% endif %}>
                        <a href="{{ path(opcion['path']) }}" style="background-image:url({{ asset('img/' ~ opcion["imagenS"]) }})">{{ opcion["texto"] }}</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}

        <li>
            <a href="{{ path("logout") }}">Salir</a>
        </li>     
    </ul>

    {# if app.user.nivel > 1 %}
        <div class="search_usuario"> 
        <form action='{{ path('usuarios_buscar') }}' method="POST">
            <input id="search_user" name="search_user"  type="text" placeholder="Buscar usuario">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <div class="search"> 
    <form onSubmit="document.location.href = '{{ path('solicitudes_editar') }}/'+document.getElementById('search_id').value; return false;">
            <input id="search_id" type="text" placeholder="Ir a la solicitud">
            <input type="submit" value="Buscar">
        </form>
        
    </div>
    {% endif #}
    
</div>