{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% if block('title') is defined %} {% block title %}{%
	endblock %} - SiSToFa {% else %} SiSToFa - Escuela Politecnica Superior. Universidad de Córdoba {% endif
	%}</title> {% block estilos %}
<link rel="stylesheet" href="{{ asset('css/sstf-general.css') }}">
<link rel="stylesheet" href="{{ asset('css/sstf-apartados.css') }}">
<link rel="stylesheet" href="{{ asset('css/sstf-seguridad.css') }}">
{% endblock %}

<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"
	sizes="16x16">

{% block javascripts %}
<script language="JavaScript"
	src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script language="JavaScript" src="{{ asset('js/sistofa.js') }}"></script>
<!-- in the <head> section -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css" />

<!-- before the closing <body> tag -->
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>

{% endblock %}
</head>

<body {% if app.user.nivel is defined and app.user.nivel==
	1 %}class="usuario"{% endif %}>
	<div class="contenedor-pagina">
		{% block cabecera %} {{ include('aplicacion/cabecera.html.twig') }} {%
		endblock %} {% block menu %} {% if
		is_granted('IS_AUTHENTICATED_REMEMBERED') %} {{
		render(controller('App\\Controller\\AplicacionController::mostrarMenuAction'))
		}} {% endif %} {% endblock %}

		<div id="contenido">
			{% if contenidoHeaderPersonalizado is not defined %}
			<div class="header">
				<table style="width: 100%;">
					<tr>
						<td><span
							class="icono elemento-icono"
							style="background-image: url({{ asset('img') ~ '/' ~ cabecera.imagen }})">{{
								cabecera.texto }}</span>
						</td>
						<td>
							<h1>{% if tituloContenidoHeader is defined %} {{
								tituloContenidoHeader|raw }} {% else %} {{ cabecera.texto }}{%
								endif %}</h1>
						</td>
						<td style="text-align: right;">
							<div style="display: block; font-size: 13px; line-height: 14px;">
                                                                
                                                                {% for boton in cabecera.botones %}
                                                                    <a class="boton" class="crear" title="{{ boton.boton }}"
									href="{{ boton.enlace }}">{{ boton.boton }}</a>
                                                                {% endfor %}
                                                            
								{% if cabecera.paginaedicion != "" and cabecera.crear == true %}
								<a class="boton" class="crear" title="Crear"
									href="{{ path(cabecera.paginaedicion ) }}">Nuevo</a> {% endif
								%} {% if cabecera.rutaVuelta != "" %} <a class="boton"
									title="Volver" href="{{ path( cabecera.rutaVuelta ) }}">Volver</a>
								{% endif %}
							</div>
						</td>
					</tr>
				</table>
			</div>

			{% endif %}
                        {% for label, flashes in app.session.flashbag.all %} 
                        {% for flash in flashes %}
			<div class="flash flash-{{ label }}">
				<p>{{ flash|raw }}</p>
			</div>
			{% endfor %} {% endfor %} {% block contenido %}{% endblock %}

		</div>
	</div>

	<div id="footer">
            
		{% block footer %}
		<p>Departamento de Ingeniería Electrónica y de Computadores<br>Universidad de Córdoba
		</p>
		{% endblock %}
	</div>

</body>
</html>