{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "aplicacion/formulario_edicion.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/sisitfa-modal.js') }}"></script>
{% endblock %}

{% block edicion %}

    <div class="formulario-edicion">
        {{ form_start(formulario) }}
        {{ form_errors(formulario) }}
        <fieldset>
            <legend>Datos principales</legend>
            <div>
                <div class="columnas1">
                    {{ form_label(formulario.nombre) }}
                    {{ form_errors(formulario.nombre) }}
                    {{ form_widget(formulario.nombre) }}
                </div>
                <div class="columnas1">
                    {{ form_label(formulario.valor) }}
                    {{ form_errors(formulario.valor) }}
                    {{ form_widget(formulario.valor) }}
                </div>
                
                <div class="columnas1">
                    {{ form_label(formulario.tipo) }}
                    {{ form_errors(formulario.tipo) }}
                    {{ form_widget(formulario.tipo) }}
                </div>
                
                <div class="columnas1">
                    {{ form_label(formulario.nivel) }}
                    {{ form_errors(formulario.nivel) }}
                    {{ form_widget(formulario.nivel) }}
                </div>
                
                <div class="columnas1">
                    {{ form_label(formulario.descripcion) }}
                    {{ form_errors(formulario.descripcion) }}
                    {{ form_widget(formulario.descripcion) }}
                </div>
                
                  <div class="columnas1">
                    {{ form_label(formulario.orden) }}
                    {{ form_errors(formulario.orden) }}
                    {{ form_widget(formulario.orden) }}
                </div>
                
                <div class="columnas1">
                    {{ form_label(formulario.codigo) }}
                    {{ form_errors(formulario.codigo) }}
                    {{ form_widget(formulario.codigo) }}
                </div>
                <div class="columnas1">
                    {{ form_label(formulario.activado) }}
                    {{ form_errors(formulario.activado) }}
                    {{ form_widget(formulario.activado) }}
                </div>
                

                <hr>

                <div>
                    {% if tienePermisos == 'escritura' %}
                        {{ form_widget(formulario.Guardar) }}
                        {{ form_widget(formulario.Clonar) }}
                        {{ form_widget(formulario.Eliminar) }}
                </div>
                    {% endif %}
                </div>
            </div>
        </fieldset>
        {{ form_end(formulario) }}
    </div>

{% endblock %}