{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "aplicacion/formulario_edicion.html.twig" %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block edicion %}

    <div class="formulario-edicion">
        {{ form_start(formulario) }}
        {{ form_errors(formulario) }}
        <fieldset>
            <legend>Datos principales</legend>
            <div>
                <div class="columnas1">
                    {{ form_label(formulario.nombre) }}
                    {{ form_errors(formulario.nombre) }}
                    {{ form_widget(formulario.nombre) }}
                </div>

                <div class="columnas1">
                    {{ form_label(formulario.descripcion) }}
                    {{ form_errors(formulario.descripcion) }}
                    {{ form_widget(formulario.descripcion) }}
                </div>
                <div class="columnas1">
                    {{ form_label(formulario.estado) }}
                    {{ form_errors(formulario.estado) }}
                    {{ form_widget(formulario.estado) }}
                </div>
                <hr>

                <div>
                    {% if tienePermisos == 'escritura' %}
                        {{ form_widget(formulario.Guardar) }}
                        {{ form_widget(formulario.Clonar) }}
                        {{ form_widget(formulario.Eliminar) }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        {{ form_end(formulario) }}
    </div>

    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Usuarios del grupo</h2>       
        <div class="apartado-edicion-tabla" style="overflow: scroll; max-height: 400px;">

            <table cellpadding="0" cellspacing="0" class="listado">
                <thead>
                    <tr>
                        <th>Apellidos</th>
                        <th>Nombre</th>
                        <th>NIF</th>
                        <th>Estado</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in usuarios %}
                        <tr style="cursor: pointer;" onclick="window.location = '{{ path('usuarios_editar',{'id': item.id})}}'">
                            <td>{{ item.apellidos }}</td>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.dni }}</td>
                            <td>{{ (item.estado == 1 ? "Activo" : "BLOQUEADO") }}</td>
                            <td>{{ (item.nivel == 10 ? "Administrador" :  (item.nivel == 1 ? "Administrador del Grupo" : "Usuario") ) }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}