{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

 {% extends "aplicacion/formulario_edicion.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script language="JavaScript" src="{{ asset('js/sisitfa-listados.js') }}"></script>
    <script language="JavaScript" src="{{ asset('js/sisitfa-modal.js') }}"></script>
{% endblock %}

{% block edicion %}
    <div class="formulario-edicion">
            {{ form_start(formulario) }}
            {{ form_errors(formulario) }}
            <fieldset>
                <legend>Datos principales</legend>
                <div>
                    {{ form_row(formulario.nombre) }}
                    {{ form_row(formulario.slug) }}
                    {{ form_row(formulario.texto) }} 
                    {{ form_row(formulario.imagenS) }}
                    {{ form_row(formulario.paginaedicionS) }}
                    {{ form_row(formulario.campodeordenacion) }}
                    {{ form_row(formulario.orden) }}
                    {{ form_row(formulario.activado) }}
                    {{ form_row(formulario.nuevo_bloque) }}
                    {{ form_row(formulario.nivel) }}
                    {{ form_row(formulario.tipo) }}
                    {{ form_row(formulario.listadodatos) }}
                    <div>
                     <div>
                            {{ form_widget(formulario.guardar) }}
                            {{ form_widget(formulario.clonar) }}
                            {{ form_widget(formulario.eliminar) }}
                    </div>
                </div>
                </div>
                   
            </fieldset>
            {{ form_end(formulario) }}

    </div>

{% endblock %}
    
{% block contenidoextendidoDESACTIVADO %}

    

    <div class="flash-secundario"></div>

    <div id="mod-campos-listado"
         class="apartado-edicion apartado-edicion-tabla {% if app.request.get('id') == null %}inactivo{% endif %}">

        <h2>Campos del listado</h2>

        {% if tienePermisos == 'escritura' and app.request.get('id') %}
            <button onclick="modalFormCrear(
                    'modal-nuevo-campo',
                    '{{ path('listados_campos_guardar', {'idlistado':app.request.get('id')}) }}',
                    'Crear campo');">Crear campo
            </button>
        {% endif %}

        <table cellpadding="0" cellspacing="0"
               class="listado enlacemodal {% if tienePermisos == 'escritura' and app.request.get('id') %}editable{% endif %}">
            <thead>
            <tr>
                <th>Campo</th>
                <th>Texto</th>
                <th style="text-align:center;">Orden</th>
                <th style="text-align:center;">Identificador</th>
                <th style="text-align:center;">Descriptivo</th>
                <th style="text-align:center;">Visible</th>
            </tr>
            </thead>
            <tbody>
            {% for columna in columnas %}
                <tr {% if tienePermisos == 'escritura' and app.request.get('id') %} onClick="modalFormEditar(
                'modal-nuevo-campo',
                '{{ path('listados_campos_info',{'idlistado':app.request.get('id') ,'idcolumna':columna['idcolumna']}) }}',
                '{{ path('listados_campos_guardar', {'idlistado':app.request.get('id') ,'idcolumna':columna['idcolumna']}) }}', 
                '{{ path('listados_campos_eliminar', {'idlistado':app.request.get('id') ,'idcolumna':columna['idcolumna']}) }}', 
                'Editar campo {{ columna['texto'] }}');"{% endif %}>
                    <td>{{ columna['nombre'] }}</td>
                    <td>{{ columna['texto'] }}</td>
                    <td style="text-align:center;">{{ columna['orden'] }}</td>
                    <td>
                        <span class="icon-check">{% if columna['esidentificador'] == 1 %}&#10004;{% endif %}</span>
                    </td>
                    <td>
                        <span class="icon-check">{% if columna['esdescripcion'] == 1 %}&#10004;{% endif %}</span>
                    </td>
                    <td>
                        <span class="icon-check">{% if columna['visible'] == 1 %}&#10004;{% endif %}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="botonera">
        <a class="boton" title="Volver" href="{{ path(definicion['volver_path']) }}">Volver</a>
    </div>

    <!-- Ventana Modal con el formulario de campos -->
    <div id="modal-nuevo-campo" class="modal formulario-edicion">
        <div class="modal-contenido">
            <span class="modal-cerrar">&times;</span>
            <h3>Crear campo del listado</h3>
            <div class="contenedor">
                <a href="#" class="boton eliminar-elemento" style="float:right; margin-top: 12px"
                   onclick="return confirm('¿Eliminar campo?')">Eliminar</a>
                <form name="formcampo" id="formcampo" class="formulario-edicion" method="post">
                    <fieldset>
                        <div>
                            <div>
                                <label class="required">Nombre</label>
                                <input id="formcampo_nombre" name="formcampo[nombre]" type="text" required="required">
                            </div>
                            <div>
                                <label>Texto</label>
                                <input id="formcampo_texto" name="formcampo[texto]" type="text">
                            </div>
                            <div>
                                <label>¿Es un identificador?</label>
                                <select id="formcampo_esidentificador" name="formcampo[esidentificador]">
                                    <option value="0">No</option>
                                    <option value="1">Sí</option>
                                </select>
                            </div>
                            <div>
                                <label>¿Es una descripción?</label>
                                <select id="formcampo_esdescripcion" name="formcampo[esdescripcion]">
                                    <option value="0">No</option>
                                    <option value="1">Sí</option>
                                </select>
                            </div>
                            <div>
                                <label>Visible</label>
                                <select id="formcampo_visible" name="formcampo[visible]">
                                    <option value="0">No</option>
                                    <option value="1">Sí</option>
                                </select>
                            </div>
                            <div>
                                <label>Número de orden</label>
                                <input id="formcampo_orden" name="formcampo[orden]" type="text">
                            </div>
                            <div>
                                <label>Activado</label>
                                <select id="formcampo_esactivado" name="formcampo[esactivado]">
                                    <option value="0">No</option>
                                    <option value="1">Sí</option>
                                </select>
                            </div>
                            <div>
                                <label>Alineación</label>
                                <select id="formcampo_align" name="formcampo[align]">
                                    <option value="">Ninguna</option>
                                    <option value="center">Centro</option>
                                    <option value="right">Derecha</option>
                                    <option value="left">Izquierda</option>
                                </select>
                            </div>
                            <div>
                                <label>Tamaño</label>
                                <input id="formcampo_size_" name="formcampo[size_]" type="text">
                            </div>
                            <div>
                                <input id="formcampo_guardar" name="formcampo[guardar]" type="submit" value="Guardar">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}