{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "aplicacion/formulario_edicion.html.twig" %}

{% block estilos %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/sisit2-usuarios.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/JavaScript">
        $(document).ready(function() {

        });
        </script>
{% endblock %}


{% block edicion %}

    {# Verifica el modo del formulario, si solo es para consultar o para editar datos.#}    
    
        <div class="formulario-edicion">
            {{ form_start(formulario) }}
            {{ form_errors(formulario) }}
            <fieldset>
                <legend>Datos principales</legend>
                <div>
                    {{ form_row(formulario.nombre) }}
                    {{ form_row(formulario.apellidos) }}
                    {{ form_row(formulario.dni) }} 
                    {{ form_row(formulario.login) }}

                    <div class="columnas1">
                        <div>
                            {{ form_label(formulario.email) }}
                            {{ form_errors(formulario.email) }}
                            {{ form_widget(formulario.email) }}

                        </div>
                    </div>
                    <div class="columnas1">
                        {{ form_row(formulario.estado) }}
                    </div>

                    <div class="columnas1">
                        {{ form_label(formulario.grupo) }} 
                        {{ form_errors(formulario.grupo) }}
                        {{ form_widget(formulario.grupo) }}   
                    </div>

                    <div class="columnas1">
                        {{ form_label(formulario.nivel) }} 
                        {{ form_errors(formulario.nivel) }}
                        {{ form_widget(formulario.nivel) }}   
                    </div>
                    
                    <div>
                        <div> 
                            {% if soloconsulta == 0 %}
                            {{ form_widget(formulario.guardar) }}
                            {{ form_widget(formulario.clonar) }}
                            {{ form_widget(formulario.eliminar) }}
                               
                            {% endif %}
                        </div>
                    </div> 
                </div>
            </fieldset>
            {{ form_end(formulario) }}

    </div>

            <br/>
        <div class="formulario-edicion">
             {{ form_start(formularioPassword) }}
            {{ form_errors(formularioPassword) }}
            <fieldset>
                <legend>Cambio de contraseña</legend>
                <div>
                    <div>
                        {{ form_label(formularioPassword.nuevapassword) }} 
                        {{ form_errors(formularioPassword.nuevapassword) }}
                        {{ form_widget(formularioPassword.nuevapassword) }}
                    </div>
                    <div>
                         {{ form_label(formularioPassword.confirmapassword) }} 
                        {{ form_errors(formularioPassword.confirmapassword) }}
                        {{ form_widget(formularioPassword.confirmapassword) }}
                    </div>
                    
                    <div class="columnas1">
                        {{ form_widget(formularioPassword.cambiar) }}
                    </div>

                    </div> 
                
            </fieldset>
            {{ form_end(formularioPassword) }}
    </div>
          
    {% if soloconsulta == 0 %}        
    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Sistemas propiedad del usuario</h2>       
        <div class="apartado-edicion-tabla" style="overflow: scroll; max-height: 400px;">

            <table cellpadding="0" cellspacing="0" class="listado">
                <thead>
                    <tr>
                        <th >Nombre</th>
                        <th >Descripcion</th>
                        <th >Visibilidad</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in sistemas %}
                        <tr style="cursor: pointer;" onclick="window.location = '{{ path('sistemas_editar',{'id': item.idsistema})}}'">
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.descripcion }}</td>
                            <td>{{ item.visibilidadtexto |raw}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Simulaciones del usuario</h2>       
        <div class="apartado-edicion-tabla" style="overflow: scroll; max-height: 400px;">

            <table cellpadding="0" cellspacing="0" class="listado">
                <thead>
                    <tr>
                        <th width="25%">Fecha</th>
                        <th width="25%">Técnico</th>
                        <th width="50%">Contenido modificado</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in datosHistorial %}
                        <tr>
                            <td>{{ item['hora'] }}</td>
                            <td>{{ item['nombre'] }} {{ item['apellidos'] }}</td>
                            <td>{{ item['descripcion'] |raw}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Historial del usuario</h2>       
        <div class="apartado-edicion-tabla" style="overflow: scroll; max-height: 400px;">

            <table cellpadding="0" cellspacing="0" class="listado">
                <thead>
                    <tr>
                        <th width="25%">Fecha</th>
                        <th width="25%">Técnico</th>
                        <th width="50%">Contenido modificado</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in datosHistorial %}
                        <tr>
                            <td>{{ item['hora'] }}</td>
                            <td>{{ item['nombre'] }} {{ item['apellidos'] }}</td>
                            <td>{{ item['descripcion'] |raw}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
                    
    {% endif %}
</div>

{% endblock %}
