{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% block javascripts %}

    <script type="text/JavaScript">

        /**
        * Obtiene los datos de un componentes mediante json y los muestra en el
        * formulario para su edicion.
        * 
        * @param int id Identificador del componente a seleccionar.
        * 
        */
        function seleccionaMetrica(id,idsimulacion) 
        {

            //Muestra la ventana modal de mostrar movimiento.        
            $('#modal-editarMetrica').show();

            if(id==""){
                id=0;
            }

            iniciaLoading('#modal-editarMetrica .modal-contenido');

            $.post( '{{path('metricas_info')}}',
            {id: id},
            function(metrica, status){

                detieneLoading('#modal-editarMetrica .modal-contenido');

                //Esto es para la ventana modal de añadir IP
                if(metrica){
                    $('#form_metrica_id').val(metrica['idmetrica']);
                    $('#form_metrica_nombre').val(metrica['nombre']);
                    $('#form_metrica_componente').val(metrica['componente']);
                    $('#form_metrica_descripcion').val(metrica['descripcion']);
                    $('#form_metrica_entrada').val(metrica['entrada']);
                    $('#form_metrica_salida').val(metrica['salida']);
                    $('#form_metrica_color').val(metrica['color']);
                    $('#form_metrica_fiabilidad').val(metrica['fiabilidad']);
                    
                }else{
                    $('#form_componente_id').val('');
                    $('#form_componente_nombre').val('');
                    $('#form_componente_configuracion').val('');
                    $('#form_componente_descripcion').val('');
                    $('#form_componente_fiabilidad').val('');
                    $('#form_componente_color').val('');
                    id=null;
                }
            }
            );
        }

        /**
        * Obtiene los datos de una evento de un componentes mediante json y 
        * los muestra en elformulario para su edicion.
        * 
        * @param int id Identificador de la evento del componente.
        * @param int idcomponente Identificador del componente al que pertenece la evento
        * 
        */
        function seleccionaEvento(id,idsimulacion) 
        {
        //Muestra la ventana modal de mostrar movimiento.        
        $('#modal-editarEvento').show();

        if(id==""){
        id=0;
        }

        iniciaLoading('#modal-editarEvento .modal-contenido');

        recargarTiposError();

        $.post( '{{path('eventos_info')}}',
        {id: id},
        function(evento, status){

        detieneLoading('#modal-editarEvento .modal-contenido');

        //Esto es para la ventana modal de añadir IP
        if(evento['id'] !== undefined){
        $('#form_evento_id').val(evento['id']);
        $('#form_evento_nombre').val(evento['nombre']);
        $('#form_evento_instante').val(evento['instante']);
        $('#form_evento_componente').val(evento['componenteid']);
        $('#form_evento_estado').val(evento['estado']);
        $('#form_evento_entrada').val(evento['entradaid']);
        $('#form_evento_valor').val(evento['valor']);
        $('#form_evento_tipofallo').val(evento['tipofallo']);
        $('#form_evento_porcentajefallo').val(evento['porcentajefallo']);

        console.log("seleccionaEvento: " + evento['nombre']);

        }else{
        $('#form_evento_id').val('');
        $('#form_evento_nombre').val('');
        $('#form_evento_componente').val('');
        $('#form_evento_instante').val('');
        $('#form_evento_estado').val('');
        $('#form_evento_entrada').val('');
        $('#form_evento_valor').val('');
        $('#form_evento_tipofallo').val('');
        $('#form_evento_porcentajefallo').val('');
        id=null;
        }
        }
        );

        }

        /**
        * Obtiene los datos de una las distintas operaciones que se pueden realizar
        * para la evento de un componente
        * 
        */
        function recargarDestinosMetrica() 
        {

        $('#form_evento_operacion').html('');

        $.ajaxSetup({async: false});  
        $.post( '{{path('sistemas_EntradasSalidas')}}',

        function(operaciones, status){

        $('#form_evento_operacion').append(
        '<option value="null" selected="true">Seleccione una evento para conectar</td>'); 

        for(var i =0; i < operaciones.length; i++){

        $('#form_evento_operacion').append(
        '<option value="'+operaciones[i]['idoperacion'] + '">' + operaciones[i]['operacion']  + '</option>');   
        //podría poner embebido aca un parámetro de id para poder recuperarlo, bah, arriba llamo con la id mas facil
        };   
        }
        );
        }

        /**
        * Funcion para controlar los datos que se cargan de la metrica
        * 
        * @author i52goloa@uco.es
        */
        function recargarDestinosMetrica(elemento) 
        {
        console.log('ELEMENTO MARCADO:' + elemento);
        switch (elemento) {

        case 'componente':

        console.log($('form_metrica_fiabilidad').selected);

        document.getElementById('form_metrica_fiabilidad').value = null;
        document.getElementById('form_metrica_salida').value = null;
        document.getElementById('form_metrica_entrada').value = null;

        break;

        case 'salida':

        document.getElementById('form_metrica_fiabilidad').value = null;
        document.getElementById('form_metrica_componente').value = null;
        document.getElementById('form_metrica_entrada').value = null;

        break;

        case 'entrada':

        document.getElementById('form_metrica_fiabilidad').value = null;
        document.getElementById('form_metrica_componente').value = null;
        document.getElementById('form_metrica_salida').value = null;

        break;

        case 'fiabilidad':

        document.getElementById('form_metrica_entrada').value = null;
        document.getElementById('form_metrica_componente').value = null;
        document.getElementById('form_metrica_salida').value = null;

        break;
        }

        }

        /**
        * Funcion para controlar los datos que se cargan de la metrica
        * 
        * @author i52goloa@uco.es
        */
        function recargarDestinosEvento(elemento) 
        {
            console.log('ELEMENTO MARCADO:' + elemento);
                switch (elemento) {

                    case 'componente':
                        document.getElementById('form_evento_entrada').value = null;
                        document.getElementById('form_evento_entrada').removeAttribute("required");
                        document.getElementById('form_evento_valor').value = null;
                        document.getElementById('form_evento_valor').removeAttribute("required");
                        
                        document.getElementById('form_evento_componente').setAttribute("required", "");     
                        document.getElementById('form_evento_estado').setAttribute("required", "");     
                        document.getElementById('form_evento_tipofallo').setAttribute("required", "");     
                        document.getElementById('form_evento_porcentajefallo').setAttribute("required", "");     
                        
                        break;

                    case 'entrada':
                        
                        document.getElementById('form_evento_entrada').setAttribute("required", "");     
                        document.getElementById('form_evento_valor').setAttribute("required", "");     
                        
                        document.getElementById('form_evento_componente').removeAttribute("required");
                        document.getElementById('form_evento_estado').removeAttribute("required");
                        document.getElementById('form_evento_tipofallo').removeAttribute("required");
                        document.getElementById('form_evento_porcentajefallo').removeAttribute("required");
                        
                        document.getElementById('form_evento_componente').value = null;
                        document.getElementById('form_evento_estado').value = null;
                        document.getElementById('form_evento_tipofallo').value = null;
                        document.getElementById('form_evento_porcentajefallo').value = null;
                        
                        break;
            }
        }

/**
        * Obtiene los datos de una las distintas operaciones que se pueden realizar
        * para la salida de un componente
        * 
        */
        function recargarTiposError() 
        {

            $('#form_evento_tipofallo').html('');

            $.ajaxSetup({async: false});  
            $.post( '{{path('errores_lista')}}',
            
            function(errores, status){

                $('#form_evento_tipofallo').append(
                        '<option value="null" selected="true">Seleccione un tipo de error.</td>'); 
                
                for(var i =0; i < errores.length; i++){
                    
                        $('#form_evento_tipofallo').append(
                        '<option value="'+errores[i]['iderror'] + '">' + errores[i]['error']  + '</option>');   
                     
                    };
                    
            }
            );
        }
        
        //Una vez que el documento se ha cargado.
        $(document).ready(function() {

        });

    </script>

{% endblock %}    

{% block edicion %}

    <style>

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #940010;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #940010;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

    </style>
    <!--
        VENTANA MODAL PARA EDITAR Y AÑADIR METRICAS A LA SIMULACION
    -->
    <div id="modal-editarMetrica" class="modal modal-mediana formulario-edicion"> 
        <div class="modal-contenido"> 

            <span class="modal-cerrar">&times;</span> 
            <h3>Metricas de la Simulación.</h3>
            <div class="contenido formulario-edicion">
                <form name="form" method="post" action="{{ path('simulaciones_guardarmetrica', { 'id' : app.request.get('id') }) }}">

                    <fieldset>
                        <div>
                            <div class="columnas1">
                                <label for="form_metrica_nombre">Nombre:</label>
                                <input type="text" id="form_metrica_nombre" required="required" name="form[metrica_nombre]" value="">
                            </div>
                            <div class="columnas1">
                                <label for="form_metrica_color">Color del visualización:</label>
                                <input id="form_metrica_color" name="form[metrica_color]" type="color" value="" style="width: 100px;">
                            </div>

                            <hr>

                            <div class="columnas1">
                                <label for="form_metrica_componente">Estado del componente:</label>
                                <select id="form_metrica_componente" name="form[metrica_componente]" onchange="recargarDestinosMetrica('componente');">
                                    <option></option>
                                    {% if datos is not null %}
                                        {% if datos.sistema is not null %}
                                    {% for componente in datos.sistema.componentes %}
                                        <option value="{{ componente.id }}">{{ componente.nombre }}</option>
                                    {% endfor %}
                                    {% endif %}}
                                    {% endif %}
                                </select>    
                            </div>

                            <div class="columnas1">
                                <label for="form_metrica_entrada">Entradas:</label>
                                <select id="form_metrica_entrada" name="form[metrica_entrada]" onchange="recargarDestinosMetrica('entrada');">
                                    <option ></option>
                                    {% if datos is not null %}
                                        {% if datos.sistema is not null %}
                                    {% for componente in datos.sistema.componentes %}
                                        {% for entrada in componente.entradas %}
                                            <option value="{{ entrada.id }}">{{componente.nombre}}::{{ entrada.nombre }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                    {% endif %}}
                                    {% endif %}
                                </select>    
                            </div>
                            <div class="columnas1">
                                <label for="form_metrica_salida">Salidas:</label>
                                <select id="form_metrica_salida" name="form[metrica_salida]" onchange="recargarDestinosMetrica('salida');">
                                    <option value=""></option>
                                     {% if datos is not null %}
                                        {% if datos.sistema is not null %}
                                    {% for componente in datos.sistema.componentes %}
                                        {% for salida in componente.salidas %}
                                            <option value="{{ salida.id }}">{{componente.nombre}}::{{ salida.nombre }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                    {% endif %}}
                                    {% endif %}
                                </select>    
                            </div>

                            <hr/>

                            <div class="columnas1">
                                <label for="form_metrica_fiabilidad">Metrica de fiabilidad:</label>
                                <select id="form_metrica_fiabilidad" name="form[metrica_fiabilidad]" onchange="recargarDestinosMetrica('fiabilidad');">
                                    <option value=""></option>
                                    {% for metrica in metricasfiabilidad %}
                                        <option value="{{ metrica.idCategoria }}">{{ metrica.nombre }}</option>
                                    {% endfor %}
                                </select>    
                            </div>
                            <hr>
                            <div class="columnas1">
                                <label for="form_metrica_descripcion">Descripcion:</label>
                                <textarea id="form_metrica_descripcion" name="form[metrica_descripcion]"></textarea>

                            </div>
                            <div>
                                <table width="100%">
                                    <tbody>
                                        <tr style="background-color: #f3f3f3;">
                                            <td style="text-align: right">
                                                <input type="hidden" id="form_metrica_id" name="form[metrica_id]" value="">
                                                <input type="hidden" id="form_metrica_simulacion_id" name="form[metrica_simulacion_id]" value="{{ app.request.get('id') }}">
                                                {% if tienePermisos == true %}
                                                    <input type="submit" class="boton" id="form_metrica_nuevo" name="form[metrica_nuevo]" value="Nuevo" onclick="javascript:seleccionaMetrica(-1, '{{ app.request.get('id') }}');">
                                                    <input type="submit" class="boton" id="form_metrica_guardar" name="form[metrica_guardar]" value="Guardar" />
                                                    <input type="submit" class="boton" id="form_metrica_clonar" name="form[metrica_clonar]" value="Clonar" />
                                                    <input type="submit" class="boton" id="form_metrica_eliminar" name="form[metrica_eliminar]" value="Eliminar" />
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>   
                </form>
            </div>              
        </div>  
    </div>

    <!--
        VENTANA MODAL PARA EDITAR Y AÑADIR EVENTOS A LA SIMULACION
    -->                 
    <div id="modal-editarEvento" class="modal modal-mediana formulario-edicion"> 
        <div class="modal-contenido"> 

            <span class="modal-cerrar">&times;</span> 
            <h3>Eventos de la simulacion del Sistema</h3>
            <div class="contenido formulario-edicion">
                <form name="form" method="post" action="{{ path('simulaciones_guardarevento', { 'id' : app.request.get('id') }) }}">
                    <fieldset>
                        <div>
                            <div class="columnas1">
                                <label for="form_evento_nombre">Nombre:</label>
                                <input type="text" id="form_evento_nombre" required="required" name="form[evento_nombre]" value="">

                            </div>
                            <div class="columnas1">
                                <label for="form_evento_instante">Instante:</label>
                                <input type="text" id="form_evento_instante" required="required" style="width: 100px;" name="form[evento_instante]" value="">
                            </div>

                            <!-- div class="columnas1">

                                <label for="form_evento_nombre">Nombre:</label>

                                <label class="switch">
                                    <input type="checkbox" id="form_tipo_evento">
                                    <span class="slider round" style="width: 100px;"></span>
                                </label>
                                
                            </div -->
                            <hr/>
                            <div class="columnas1">
                                <label for="form_evento_componente">Estado del componente:</label>
                                <select id="form_evento_componente" name="form[evento_componente]" onchange="recargarDestinosEvento('componente');">
                                    <option></option>
                                     {% if datos is not null %}
                                        {% if datos.sistema is not null %}
                                    {% for componente in datos.sistema.componentes %}
                                        <option value="{{ componente.id }}">{{ componente.nombre }}</option>
                                    {% endfor %}
                                    {% endif %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="columnas1">
                                <label for="form_evento_estado">Aplicar el estado:</label>

                                <select id="form_evento_estado" name="form[evento_estado]" onchange="recargarDestinosEvento('componente');">
                                    <option ></option>
                                    <option value="0">En fallo</option>
                                    <option value="1">Activo</option>
                                </select>    
                            </div>

                            <div class="columnas1">
                                    <label  for="form_evento_porcentaje_error">Porcentaje error:</label>
                                    <input type="text" id="form_evento_porcentajefallo" name="form[evento_porcentajefallo]" size="20" style="width: 100px;"
                                           onchange="recargarDestinosEvento('componente');">
                            </div>
                            <div class="columnas1">
                                        <label for="form_evento_tipo_error">Tipo error:</label>
                             
                                        <select id="form_evento_tipofallo" name="form[evento_tipofallo]"
                                                onchange="recargarDestinosEvento('componente');">
                                            <option ></option>
                                            <option value="0">Error 1</option>
                                            <option value="0">Error 2</option>
                                        </select>   
                            </div>
                                
                            <hr/>
                            <div class="columnas1">
                                <label for="form_evento_entrada">Cambiar el valor de:</label>
                                <select id="form_evento_entrada" name="form[evento_entrada]" onchange="recargarDestinosEvento('entrada');">
                                    <option ></option>
                                     {% if datos is not null %}
                                        {% if datos.sistema is not null %}
                                    {% for componente in datos.sistema.componentes %}
                                        {% for entrada in componente.entradas %}
                                            <option value="{{ entrada.id }}">{{componente.nombre}}::{{ entrada.nombre }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endif
                                    %}
                                </select>    
                            </div>

                            <div class="columnas1">
                                <label for="form_evento_nombre">Valor de la entrada:</label>
                                <input type="text" id="form_evento_valor" style="width: 100px;" name="form[evento_valor]" value="" onchange="recargarDestinosEvento('entrada');">
                            </div>

                            <hr/>
                            <div class="columnas1">
                                <label for="form_evento_descripcion">Descripcion:</label>
                                <textarea id="form_evento_descripcion" name="form[evento_descripcion]" rows="2"></textarea>
                            </div>

                            <div>
                                <table width="100%">
                                    <tbody>
                                        <tr style="background-color: #f3f3f3;">
                                            <td style="text-align: right">
                                                <input type="hidden" id="form_evento_id" name="form[evento_id]" value="">
                                                <input type="hidden" id="form_metrica_simulacion_id" name="form[evento_simulacion_id]" value="{{ app.request.get('id') }}">
                                                {% if tienePermisos == true %}
                                                    <a href="javascript:seleccionaEvento('','{{ app.request.get('id') }}');" class="boton" id="btn-nuevoMovimiento">Nuevo evento.</a>
                                                    &nbsp;<input type="submit" class="boton" id="form_evento_guardar" name="form[evento_guardar]" value="{{ 'guardar'|trans }}">
                                                    &nbsp;<input type="submit" class="boton" id="form_evento_clonar" name="form[evento_clonar]" value="Clonar">
                                                    &nbsp;<input type="submit" class="boton" id="form_evento_eliminar" name="form[evento_eliminar]" value="{{ 'eliminar'|trans }}">
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>   
                </form>
            </div>              
        </div>  
    </div>

{% endblock %}
