{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "aplicacion/formulario_edicion.html.twig" %}

{% block estilos %}
    {{ parent() }}
{% endblock %}    

{% block javascripts %}
    {{ parent() }}
    <script type="text/JavaScript">
        
        //Una vez que el documento se ha cargado.
        $(document).ready(function() {

        });

    </script>

{% endblock %}    

{% block edicion %}

    <div class="formulario-edicion">
        {{ form_start(formulario) }}
        {{ form_errors(formulario) }}
        <fieldset>
            <legend>Datos principales</legend>
            <div>
                <div class="columnas1">
                    <div>
                        {{ form_row(formulario.nombre) }}
                    </div>
                </div>
                     <div class="columnas1">
                    <div>
                        {{ form_row(formulario.sistema) }}
                    </div>
                </div>
                    <div class="columnas1">
                    <div>
                        {{ form_row(formulario.tiempo) }} 
                    </div>
                </div>
                <div class="columnas1">
                    <div>
                        {{ form_row(formulario.visibilidad) }} 
                    </div>
                </div>
                <div class="columnas1">
                    <div>
                        {{ form_row(formulario.propietario) }} 
                        {{ form_row(formulario.idpropietario) }} 
                    </div>
                </div>
                <div class="columnas1">
                    <div>
                        {{ form_row(formulario.descripcion) }} 
                    </div>
                </div>
                <div> 
                    {% if tienePermisos == true %}
                    {{ form_widget(formulario.Guardar) }}
                    {{ form_widget(formulario.Eliminar) }}
                    {% endif %}
                    {{ form_widget(formulario.Clonar) }}
                    
                    <a href="{{ path("simulaciones_simular", {'id': app.request.get('id')}) }}" class="boton">Ejecutar</a>
                </div>
            </div> 

        </fieldset>
        {{ form_end(formulario) }}

    </div>

    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Métricas</h2>       
        <div class="apartado-edicion-tabla">

            <table cellpadding="0" cellspacing="0" class="listado" style="overflow: scroll; max-height: 400px;">
                <thead>
                    <tr>
                        <th width="25%">Nombre</th>
                        <th width="10%">Color</th>
                        <th width="60%">Descripcion</th>
                    </tr>
                </thead>
                <tbody>

                    {% for metrica in datos.metricas %}
                        <tr>
                            <td><a href="javascript:seleccionaMetrica('{{ metrica.idmetrica }}');">{{ metrica.nombre }} </a></td>
                            <td><div style="background-color: {{ metrica.color}}; width: 50%;">&nbsp;</div></td>
                            <td><a href="javascript:seleccionaMetrica('{{ metrica.idmetrica }}');">{{ metrica.descripcion|raw}}</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div style="text-align: right;">
            {% if app.request.get('id') != null %}
                {% if tienePermisos == true %}
                &nbsp;<a href="javascript:seleccionaMetrica('');" class="boton" id="btn-nuevaMetrica">Nueva m&eacute;trica.</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

        <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Eventos</h2>       
        <div class="apartado-edicion-tabla">

            <table cellpadding="0" cellspacing="0" class="listado" style="overflow: scroll; max-height: 400px;">
                <thead>
                    <tr>
                        <th width="25%">Nombre</th>
                        <th width="25%">Instante</th>
                        <th width="25%">Tipo</th>
                        <th width="25%">Evento</th>
                        <th width="50%">Descripcion</th>
                    </tr>
                </thead>
                <tbody>

                    {% for evento in datos.vweventos %}
                        <tr>
                            <td><a href="javascript:seleccionaEvento('{{ evento.idevento }}');">{{ evento.nombre }}</a></td>
                            <td><a href="javascript:seleccionaEvento('{{ evento.idevento }}');">{{ evento.instante }}</a> </td>
                            <td><a href="javascript:seleccionaEvento('{{ evento.idevento }}');">{% if evento.componenteid != null %}Estado componente{% else %}Valor entrada{%  endif %}</a> </td>
                            <td><a href="javascript:seleccionaEvento('{{ evento.idevento }}');">{% if evento.componenteid != null %}{{ evento.componente }}: {% if evento.estado == 0 %}Fallo{% else %}Activo{% endif %} (Fallo en {{ evento.porcentajefallo }}%){% else %}{{ evento.componententrada }}:{{ evento.entrada }}={{ evento.valor }} {%  endif %}</a> </td>
                            <td><a href="javascript:seleccionaEvento('{{ evento.idevento }}');">{{ evento.descripcion|raw}}</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div style="text-align: right;">
            {% if app.request.get('id') != null %}
                {% if tienePermisos == true %}
                &nbsp;<a href="javascript:seleccionaEvento('','{{ app.request.get('id') }}');" class="boton" id="btn-nuevoMovimiento">Nuevo evento.</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Ejecuciones.</h2>       
        <div class="apartado-edicion-tabla" style="overflow: scroll; max-height: 400px;">

            <table cellpadding="0" cellspacing="0" class="listado">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Paso</th>
                    </tr>
                </thead>
                <tbody>

                    {% for ejecucion in ejecuciones %}
                        <tr>
                            <td><a href="{{ path("ver_resultados",{"id": ejecucion.idejecucion }) }}">{{ ejecucion.fechaformateada }}</a></td>
                            <td><a href="{{ path("ver_resultados",{"id": ejecucion.idejecucion }) }}">{{ ejecucion.usuarionombre }}</a></td>
                            <td><a href="{{ path("ver_resultados",{"id": ejecucion.idejecucion }) }}">{{ ejecucion.paso }}</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div style="text-align: right;">
            {% if app.request.get('id') != null %}
                {% if tienePermisos == true %}
                &nbsp;<a href="javascript:seleccionaEvento('','{{ app.request.get('id') }}');" class="boton" id="btn-nuevoMovimiento">Elminar todas.</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
                    
        
    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Historial de la simulación.</h2>       
        <div class="apartado-edicion-tabla" style="overflow: scroll; max-height: 400px;">

            <table cellpadding="0" cellspacing="0" class="listado">
                <thead>
                    <tr>
                        <th width="25%">Fecha</th>
                        <th width="25%">Técnico</th>
                        <th width="50%">Contenido modificado</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in datosHistorial %}
                        <tr>
                            <td>{{ item['hora'] }}</td>
                            <td>{{ item['nombre'] }} {{ item['apellidos'] }}</td>
                            <td>{{ item['descripcion'] |raw}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal-ejecutarsimulacion" class="modal modal-pequena">
    
</div>

{% include 'simulacion/simulacion_modales.html.twig' %}
            
{% endblock %}
