{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% block javascripts %}
      
{% endblock %}    

{% block edicion %}
    
     <div id="modal-buscarEjecucion" class="modal modal-mediana formulario-edicion"> 
        <div class="modal-contenido"> 
            
            <span class="modal-cerrar">&times;</span> 
            <h3>Buscar ejecuciones de la simulación.</h3>
            <div class="contenido formulario-edicion">
   
    <div class="apartado-edicion apartado-edicion-tabla">

        <h2>Ejecuciones comparables.</h2>       
        <div id="ejecucionesSimulacion" class="apartado-edicion-tabla" style="overflow: scroll; max-height: 400px;">

            <table cellpadding="0" cellspacing="0" class="listado">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Sinulacion</th>
                        <th>Sistema</th>
                        <th>Pasos</th>
                    </tr>
                </thead>
                <tbody>


                </tbody>
            </table>
        </div>
       
    </div>
        </div>
        
             <div style="text-align: right;">
                &nbsp;<a href="javascript: $('#modal-buscarEjecucion').hide();" class="boton" id="btn-nuevoMovimiento">Cerrar</a>
        </div>
        
     </div>
       
     </div>
{% endblock %}
