{#  
 # This file is part of SiSToFa - Simulador de Sistemas Tolerantes a Fallos.
 #
 # Copyright (c) 2022 Escuela Politecnica Superior. Universidad de Córdoba.
 #
 # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0).
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code in legal directory.
 #
 # @author: Antonio Gomez <i52goloa@uco.es>
 #}

{% extends "aplicacion/formulario_edicion.html.twig" %}

{% block estilos %}
    {{ parent() }} 
    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        div .resultados {
            height: 300px;
            width: 80%;
        }
        div .resultados table {
            width: 100%;
        }

        div .resultados table thead {
            width: 100%;
        }

        div .resultados table thead tr {
            width: 100%;
        }

        div .resultados table thead tr th {
            width: 50%;
        }
        div .resultados table tbody {
            width: 100%;
        }


        .dataTable thead {
            background-color: #bbbbbb;
            color: #000000;
            font-weight: bold;
        }

        .dataTable thead th,  .dataTable tbody tr td {
            border: #000000 solid 1px;
        }

        .dataTable tbody tr td{
            padding: 3px !important;
        }

        .dataTable tbody tr{
            background-color: #cccccc;
            color: #000000;
        }

        .dataTable tbody tr:nth-child(odd){
            background-color: #dddddd;
            color: #000000;
        }

        .dataTable tbody tr td:last-of-type {
            text-align: right;
        }




    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }} 
    <script src="{{ asset('Chart.js/dist/Chart.min.js') }}"></script>
    
    <script type="text/JavaScript">
  
    /**
     * Obtiene los datos de una las distintas operaciones que se pueden realizar
     * para la evento de un componente
     * 
     */
    function cargaEjecuciones() {

        $.ajaxSetup({async: false});  
          $.post( '{{path('ejecuciones_comparables')}}',
            {simulacion: {{datos.id}} },
            function(ejecuciones, status){

                $('#modal-buscarEjecucion #ejecucionesSimulacion table tbody').html('');

                     for(var i =0; i < ejecuciones.length; i++){
               
                        $('#modal-buscarEjecucion #ejecucionesSimulacion table tbody').append(
                        '<tr style="cursor: pointer;" onClick="seleccionaEjecucion({{app.request.get('id')}},' + ejecuciones[i]['idejecucion'] + ')">' +
                        '<td>'+ejecuciones[i]['fecha'] + '</td>'+ 
                        '<td>'+(ejecuciones[i]['nombresistema'] != null ? ejecuciones[i]['nombresistema'] : '0')+'</td>'+ 
                        '<td>'+(ejecuciones[i]['nombrejecucion'] != null ? ejecuciones[i]['nombrejecucion'] : '')+'</td>' + 
                        '<td>'+(ejecuciones[i]['paso'] != null ? ejecuciones[i]['paso'] : '')+'</td>' + '</tr>');   
                        //podría poner embebido aca un parámetro de id para poder recuperarlo, bah, arriba llamo con la id mas facil
                    }
                    });    

        $('#modal-buscarEjecucion').show();
   
    }

    /**
     * Funcion que 
     * 
     */
    function seleccionaEjecucion(idejecucion, idejecucioncomparada) {

        document.location = '{{path('ver_resultados')}}/'  + idejecucion + "/" + idejecucioncomparada;
          
    }
    
    </script>

{% endblock %}

{% block contenido %}

    <div class="apartado-edicion apartado-edicion-tabla">
        <h2>Resultados de la simulación</h2>  
        <div>
            <ul class="listado-informacion listado-columnas2">
                <li>
                    <span class="campo">Nombre del simulación:</span>
                    <span class="valor">{{ datos.nombresimulacion }}</span>
                </li>
                <li>
                    <span class="campo">Nombre del sistema:</span>
                    <span class="valor">{{ datos.nombresistema }}</span>
                </li>
                <li>
                    <span class="campo">Usuario:</span>
                    <span class="valor">{{ datos.usuarionombre }}</span>
                </li>
                <li>
                    <span class="campo">Fecha de la simulación:</span>
                    <span class="valor">{{ datos.fechaformateada }}</span>
                </li>
                <li>
                    <span class="campo">Tiempo total:</span>
                    <span class="valor">{{ datos.tiempo }}</span>
                </li>
                <li>
                    <span class="campo">Pasos realizados:</span>
                    <span class="valor"> {{ datos.paso }} </span>
                </li>
                <li>
                    <span class="campo">Estado:</span>
                    <span class="valor">{{ datos.estado }}</span>
                </li>                
           
            </ul>
        </div>
                
        <table style="width: 100%;text-align: right;">
            <tr>
                <td>
                    <input type="button" class="boton" onclick="cargaEjecuciones();" value="Comparar simulaciones." >
                </td>
            </tr>
        </table>
    </div>

    {% if datoscomparacion is defined %}
    <div class="apartado-edicion apartado-edicion-tabla">
        <h2>Comparación de la simulación</h2>  
        <div>
            <ul class="listado-informacion listado-columnas2">
                <li>
                    <span class="campo">Nombre del simulación:</span>
                    <span class="valor">{{ datoscomparacion.nombresimulacion }}</span>
                </li>
                <li>
                    <span class="campo">Fecha de la simulación:</span>
                    <span class="valor">{{ datoscomparacion.fechaformateada }}</span>
                </li>
                <li>
                    <span class="campo">Pasos realizados:</span>
                    <span class="valor"> {{ datoscomparacion.paso }} </span>
                </li>
            </ul>
        </div>
       
    </div>
    {% endif %}

                
    <div id="">
    </div>

    {% for metrica in valores %}
        <div class="apartado-edicion apartado-edicion-tabla">


            <h2>{{ metrica["nombre"] }}</h2>

            <table width="100%">
                <tr>
                    <td style="width:60%;">
                        <div style="width:100%;">
                            <canvas id="metrica{{metrica["id"]}}"></canvas>
                        </div>
                    </td>
                     <td style="width:5%;">
                        &nbsp;
                    </td>
                    <td style="vertical-align: middle;">
                <center><h3>Valores de {{ metrica["nombre"] }}</h3>
                    <div id="valores{{metrica["id"]}}">Loading...</div>
                </center>
                <!-- Insert this at the end of your body element, but before the closing tag -->

                <div
                    style="margin-top: 15px; width: 100%; text-align: right;">
                    <a class="boton" href="{{ path("metrica_download",{"id" : metrica["id"],"simulacion": app.request.get('id'),"fichero": metrica["nombre"] }) }}" target="_sisitfadownload">Descargar valores</a>
                </div>
                </td>
                </tr></table>

        </div>

        <script>
            
            {% set metricacomparada = null %}
            {% if valorescomparacion[loop.index-1] is defined %}
                {% set metricacomparada = valorescomparacion[loop.index-1] %}
            {% endif %}

            var config{{metrica["id"]}} = {
            type: 'line',
                    data: {
                    labels: [{% for v in metrica["valores"] %}'{{ v.instante }}'{% if loop.last == false  %},{% endif%}{% endfor %} ],
                            datasets: [{
                            label: '{{metrica["nombre"]}}',
                                    backgroundColor: '#FFFFFF',
                                    steppedLine: false,
                                    pointStyle: "line",
                                    borderColor: '{{metrica["color"]}}',
                                    data: [{% for v in metrica["valores"] %}{{ v.valor }}{% if loop.last == false  %},{% endif%}{% endfor %} ],
                                    fill: false,
                            }{% if metricacomparada is not null %}
                                ,{
                            label: '{{metricacomparada["nombre"]}}',
                                    backgroundColor: '#FFFFFF',
                                    steppedLine: false,
                                    pointStyle: "line",
                                    borderColor: '{{metricacomparada["color"]}}',
                                    data: [{% for v in metricacomparada["valores"] %}{{ v.valor }}{% if loop.last == false  %},{% endif%}{% endfor %} ],
                                    fill: false,
                            }
                             {% endif %}
                            ]
                    },
                    options: {
                    responsive: true,
                            title: {
                            display: false,
                                    text: 'Chart.js Line Chart'
                            },
                            tooltips: {
                            mode: 'index',
                                    intersect: false,
                            },
                            hover: {
                            mode: 'nearest',
                                    intersect: true
                            },
                            scales: {
                            xAxes: [{
                            display: true,
                                    scaleLabel: {
                                    display: true,
                                            labelString: 'Instante'
                                    }
                            }],
                                    yAxes: [{
                                    display: true,
                                            scaleLabel: {
                                            display: true,
                                                    labelString: 'Valor de la métrica'
                                            }
                                    }]
                            }
                    }
            };
            var ctx = document.getElementById('metrica{{metrica["id"]}}').getContext('2d');
            window.myLine = new Chart(ctx, config{{metrica["id"]}});
        </script>

    {% endfor %}

    <div style="display: none;" id="valores">Loading...</div>

    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>

            $(function () {
        {% for metrica in valores %}
            
            $('#valores{{metrica["id"]}}').initDataTables({{ datatable_settings(metrica["datatable"])}}, {searching: false,
                    "paging": true,
                    "searching": false,
                    "lengthChange": true,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "pageLength": 10,
                    "serverSide": true, 
                    language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                    },
                    buttons: ['excel'],
                    dom: 'Blfrtip'});
        
        {% endfor %}
        
        {% if datatable != null %}
            
            $('#valores').initDataTables({{ datatable_settings(datatable)}}, {searching: false,
                    "paging": true,
    "searching": false,
    "lengthChange": true,
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    "pageLength": 10,
                    language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                    },
                    buttons: ['excel'],
                    dom: 'Blfrtip'});
            });
        {% endif %}
    </script>

    {% include 'simulacion/simulacion_comparacion.html.twig' %}
    
{% endblock %}
